.etiqueta_menu_lateral{

	font-size:12px;
	font-family: "Montserrat";
	color: #5E5E5E;
	
}

.div_filtro{
	background:white;
	padding:25px;
	border-radius: 10px 10px 10px 10px;
	margin:5px;
}

.div_titulo{
	padding:4px;
	border-radius: 5px 5px 5px 5px;
	margin:5px;
}

#content{
	background:#F4F7FA;
}

.cabecera_tabla{
	background:#0083C9;
	color: white;
	border-radius: 2px 2px 2px 2px;
}

.btn_refresh{
	fill: white;
	margin-left: 20px;
}

.btn_refresh svg{
	fill: white;
}