<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />

<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
<link href="../static/css/gijgo.min.css" rel="stylesheet" th:href="@{/css/gijgo.min.css}" >

<script type="text/javascript" th:src="@{/js/gijgo.min.js}" ></script>
<script type="text/javascript" th:src="@{/js/messages.es-es.js}"></script>
<script type="text/javascript" th:src="@{/js/datetime-moment-order.js}"></script>
<script type="text/javascript" th:src="@{/js/moment.js}"></script>

<script type="text/javascript" th:src="@{/js/date-uk.js}"></script>
<script type="text/javascript" th:src="@{/js/date-euro.js}"></script>

<script type="text/javascript" th:src="@{/js/bootstrapv4.js}" ></script>

<div id="containerListaRegistros">
	<div class="row p-0 m-0">
		<div class="col-xs-12 col-sm-4" >
			<table style="width:100%">
				<tr>
					<td style="width:20%">
						<label>ODS</label>
					</td>
					<td style="width:80%">
						<select id="cbods" name="cbods" class="form-control">
							<option value="Todos">Todos</option>
							<option value="Amazonas">Amazonas</option>
							<option value="Ancash - Huaraz">Ancash - Huaraz</option>
							<option value="Ancash - Chimbote">Ancash - Chimbote</option>
							<option value="Apurimac">Apurimac</option>
							<option value="Arequipa">Arequipa</option>
							<option value="Ayacucho">Ayacucho</option>
							<option value="Cajamarca">Cajamarca</option>							
							<option value="Cusco">Cusco</option>
							<option value="Huancavelica">Huancavelica</option>
							<option value="Huanuco">Huanuco</option>
							<option value="Ica">Ica</option>
							<option value="Junin">Junin</option>
							<option value="Libertad">La libertad</option>
							<option value="Lambayeque">Lambayeque</option>
							<option value="Lima provincias">Lima provincias</option>
							<option value="Loreto">Loreto</option>
							<option value="Madre de dios">Madre de dios</option>
							<option value="Moquegua">Moquegua</option>
							<option value="OAU Callao">OAU Callao</option>
							<option value="OAU cañete">OAU cañete</option>
							<option value="OAU comas">OAU comas</option>
							<option value="OAU huacho">OAU huacho</option>							
							<option value="OAU SJL">OAU SJL</option>
							<option value="OAU VES">OAU VES</option>	
							<option value="Pasco">Pasco</option>
							<option value="Piura">Piura</option>
							<option value="Puno">Puno</option>
							<option value="San martin">San martin</option>
							<option value="Sede central">Sede central</option>
							<option value="Tacna">Tacna</option>
							<option value="Tumbes">Tumbes</option>
							<option value="Ucayali">Ucayali</option>
						</select>
					</td>
				</tr>
			</table>	
		</div>
		<div class="col-xs-12 col-sm-4">
			<table style="width:100%">
				<tr>
					<td style="width:40%">
						<label>Año de inscripción</label>
					</td>
					<td style="width:60%">
						<select id="cbanio" name="cbanio" class="form-control">
							<option value="Todos">Todos</option>
							<option value="2017">2017</option >
							<option value="2018">2018</option>
							<option value="2019">2019</option>
							<option value="2020">2020</option>
							<option value="2021">2021</option>
						</select>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-12 col-sm-4" >	
			<table style="width:100%">
				<tr>
					<td style="width:20%">
						<label>Inscrito al IE</label>
					</td>
					<td style="width:80%">
						<select id="cbinscrito" name="cbinscrito" class="form-control">
							<option value="Todos">Todos</option>
							<option value="Si">Si</option >
							<option value="No">No</option>
						</select>
					</td>
				</tr>
			</table>			
		</div>
	</div>
	<div class="row pt-2 m-0">
		<div class="col-xs-12 col-sm-4">
			<table style="width:100%">
				<tr>
					<td style="width:20%">
						<label>Nombre IE</label>
					</td>
					<td style="width:80%">
						<input type="text" class="form-control rounded-0" id="txtnombre" name="txtnombre" >
					</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-12 col-sm-4">			
			<input type="button" name="btnbuscardocente" id="btnbuscardocente" class="btn btn-primary" value="Buscar"/>
			<input type="button" name="btnlimpiardocente" id="btnlimpiardocente" class="btn btn-primary" value="Limpiar" style="margin-left:10px"/>
		</div>
	</div>
	<hr>
	<div class="p-0 m-0" style="background:#ECFBF4" >
		<h5 class="p-2 m-0 bg-info text-white">Listado de Registros de Docentes</h5>
		<div class="row pt-2 pb-4 m-0">
			<div class="col-xs-12 col-sm-12">
				<table id="table_docentes"  class="table table-striped table-bordered display nowrap" style="width:100%">
					<thead>
				        <tr>
				        	<th>Nº</th>
				        	<th>Año</th>
				            <th>ODS</th>
				            <th>Código de la II.EE</th>
				            <th>Nombre de II.EE</th>
				            <th>II. inscrito al C.E</th>
				            <th>Docente</th>
				            <th>Tipo de documento</th>
				            <th>N° de documento</th>		            
				            <th>Correo electrónico</th>
				            <th>Teléfono</th>
				            <th>Género</th>
				            <th style="display:none;">Fecha de registro</th>
				        </tr>   
				    </thead>
				</table>
			</div>
			<br><br>
		</div>
	</div>
</div>

</html>
<script type="text/javascript">
		
		var url_base = location.origin+"/";		
		var celdaseleccionada;
		var table_docentes;
		var id;
		
		$(document).ready(function(){	
			
			$("#btnbuscardocente").click(function(){
	        	
	        	setTimeout(() => {        		  
	        			  table_docentes.draw();
	        	}, 100);	
			});
			
			$("#btnlimpiardocente").click(function(){
				$("#cbods").val("Todos");
				$("#cbanio").val("Todos");
				$("#cbinscrito").val("Todos");				
				$("#txtnombre").val("");
				setTimeout(() => {        		  
		      		table_docentes.draw();
		      	}, 100);
			});
			
			listar();
		});		
		
		var listar = function(){
				
				$("#table_docentes").dataTable().fnDestroy();				
			    
				table_docentes = $('#table_docentes').DataTable({
				"dom": 'Bfrtip',
	            "scrollX": true,
	            "searching": true,
	            "lengthMenu": [
	                [ 10, 15, 25, -1 ],
	                [ '10 filas', '15 filas', '25 filas', 'Mostrar todas' ]
	            ],
	            "processing":true,
	            "language": {
	                buttons: {
	                  pageLength: 'Mostrar'
	                },
	                "decimal": "",
	                "emptyTable": "No hay información",
	                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
	                "infoEmpty": "Mostrando 0 a 0 de 0 Entradas",
	                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
	                "infoPostFix": "",
	                "thousands": ",",
	                "lengthMenu": "Mostrar _MENU_ Entradas",
	                "processing": "Procesando...",
	                "search": "Buscar:",
	                "zeroRecords": " ",
	                "paginate": {
	                    "first": "Primero",
	                    "last": "Ultimo",
	                    "next": "Siguiente",
	                    "previous": "Anterior"
	                }
	            },
	            "ajax" : {
	                "url" : url_base + 'pedesa/listadocentesinscritos',
	                "type" : "GET",
	                "dataSrc" : ""
	            },
	            "columns" : [
	            	{ 
	            		"data": null, "render": function (data, type, full, meta) { return meta.row + 1; }
	            	},
	            	{ 'data' : 'anio' },
	            	{ 'data' : 'ods' },
	            	{ 'data' : 'codigo_ie' },
	            	{ 'data' : 'nombre_ie' },
	                { 'data' : 'inscrito_ie' },
	                { 'data' : 'docente' },
	            	{ 'data' : 'tipodocumento' },
	            	{ 'data' : 'nrodocumento' },
	                { 'data' : 'correoelectronico' },
	                { 'data' : 'nrotelefono' },
	                { 'data' : 'genero' },
	                { 'data' : 'fecha_registro' ,'searchable': false}
	            ],
	            columnDefs: [
	            	{
		            	type: 'date-euro',"targets": 12,
		   		      	"render": function(data, type, row, meta){
		   		      		return moment(data).format('DD/MM/YYYY HH:mm');
	   		      		}
	   		    	},
	   		    	{ "visible": false, "targets": 12 }
	            ],
	            "buttons": [
	            	{
	            		extend: 'excel',
	            		text:'Descargar en Excel',
	                    title: 'LISTA DE DOCENTES - AULA VIRTUAL',
	                    messageTop: function(){
	                    	return '[ ODS: ' + $("#cbods").val() + ']            [ Año de inscripción: '+ $("#cbanio").val() + ']           [ Inscrito al IE: ' + $("#cbinscrito").val() + ']           [ Nombre de la IE: ' + $("#txtnombre").val() + ']' ;
	                    },
	                    filename : function(){
	                    	var hoy = new Date();
	                    	var dia = String(hoy.getDate());
	                    	if(dia.length==1){
	                    		dia = "0"+dia;
	                    	}
	                    	var mes = String(hoy.getMonth()+1);
	                    	if(mes.length==1){
	                    		mes = "0"+mes;
	                    	}
	                    	var hora = String(hoy.getHours());
	                    	if(hora.length==1){
	                    		hora = "0"+hora;
	                    	}
	                    	var minuto = String(hoy.getMinutes());
	                    	if(minuto.length==1){
	                    		minuto = "0"+minuto;
	                    	}
	            	    	return "Listadocentes_"+dia+mes+hoy.getFullYear()+'_'+hora + minuto;
	                    }
	            	}
	            ]
	        });
		};
		
		$.fn.dataTable.ext.search.push(
    	    function( settings, data, dataIndex ) {
    	    	
    	    	if ( settings.nTable.id !== 'table_docentes' ) {
    	            return true;
    	        }
    	    	
    	    	var ods = $("#cbods").val();
    	    	var nombre = $("#txtnombre").val();
    	    	var anio = $("#cbanio").val();
    	    	var inscrito = $("#cbinscrito").val();
    	    	if(!filtra(ods,data[2]))
    	    		return false;
    	    	if(!filtra(nombre,data[4]))
    	    		return false;
    	    	if(!filtra(anio,data[1]))
    	    		return false;
    	    	if(!filtra(inscrito,data[5]))
    	    		return false;
   	    		return true;
    	    }
    	);
		
		function filtra(campofiltro,campotabla){
	    	if(campofiltro==="Todos" || campofiltro===undefined)
	    		return true;
	    	var posicion = (campotabla.toLowerCase()).indexOf(campofiltro.toLowerCase()); 
	    	if(posicion != -1)
	    		return  true;
	    	return false;
	    }
		
</script>
