<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ProgramaEducativo</title>
    <meta charset="UTF-8" />   
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <script type="text/javascript">
		window.history.forward();
	</script>    
    <!--<link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="../static/css/select2.min.css" th:href="@{/css/select2.min.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}" ></script>
    <script type="text/javascript" th:src="@{/js/bootstrapv4.js}" ></script>
    <script type="text/javascript" th:src="@{/js/fontawesomev5.0.6.js}" ></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui.js}" ></script>
	<script type="text/javascript" th:src="@{/js/select2.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-select.min.js}"></script>
	<link rel="stylesheet" href="../static/css/style.css" th:href ="@{/css/style.css}">-->
</head>
<body>	
		<h5>Datos del especialista</h5>
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<label>Perfil</label>
				<select class="form-control" id="perfil_usuario" name="perfil_usuario">
					<option value="0">Seleccionar</option>
					<option th:each="len:${tipousuarios}" th:value="${len.id}" th:utext="${len.descripcion}"/>
				</select>	
			</div>
			<div class="col-xs-12 col-sm-3">
				<label>Usuario</label>
				<select class="form-control select2" id="usuario" name="usuario" style="width: 100%" data-live-search="true">
					<option value="0">Seleccionar</option>
					<option th:each="len:${usuarios}" th:value="${len.cuenta}" th:utext="${len.cuenta}"/>
				</select>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<label>Nombres</label>
				<input type="text" name="nombresusuario" id="nombresusuario" class="form-control" disabled/>
			</div>
			<div class="col-xs-12 col-sm-3">
				<label>Apellidos</label>
				<input type="text" name="apellidosusuario" id="apellidosusuario" class="form-control" disabled/>
			</div>
			<div class="col-xs-12 col-sm-3">
				<label>Correo electrónico</label>
				<input type="text" name="correoelectronico" id="correoelectronico" class="form-control" disabled/>
			</div>
		</div>
		<hr>
		<h6>Accesos</h6>
		<h6>ODS</h6>		
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<input type="checkbox" name="check-1" id="check-1" style="margin:5px" /><label for="check-1">Marcar todos</label>
			</div>
		</div>
		
		<div class="row" >
			<div class="col-xs-12 col-sm-3" th:each="ods : ${listaods}">
				<input type="checkbox" class="case" th:name="chk_usuario" th:id="${ods.id}" style="margin:5px"/> <label th:for="${ods.id}" th:text="${ods.descripcion}"></label>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-6 col-sm-6 text-right">
				<input type="button" name="btncancelarusuario" id="btncancelarusuario" value="Cancelar" class="btn btn-danger"/>
			</div>
			<div class="col-xs-6 col-sm-6 text-left">
				<input type="button" name="btnregistrarusuario" id="btnregistrarusuario" value="Registrar" class="btn btn-primary"/>
			</div>
		</div>		
</body>
</html>
<script type="text/javascript">

		var usuario;
		var perfil;
		var array_ods;
		var mensajeValidacionusuario;

		$(document).ready(function(){			
			$('.select2').select2();
			$("#check-1").click(function(){
				if($("#check-1").is(":checked")){
					$(".case").prop("checked",true);
				}
				else{
					$(".case").prop("checked",false);
				}
			});
			
			$("#btncancelarusuario").click(function(){
				$("#modalagregarusuario").modal('hide');
			});			
			
			$("#usuario").change(function(){
				$("#nombresusuario").val("");
				$("#apellidosusuario").val("");
				usuario = $("#usuario").val();
				
				$.ajax({
					type : "GET",
				    url : url_base + "pedesa/datosusuario/"+ usuario,
					success: function(respuesta) {
						console.log("respuesta :" + respuesta);
						if(respuesta!=null){
							$("#nombresusuario").val(respuesta.nombre);							
							$("#apellidosusuario").val(respuesta.usuario);
							$("#correoelectronico").val(usuario+"@sunass.gob.pe");
						}
						else{
							$("#textoinformacionusuario").html("No existe usuario");
							$('#modalinformacionusuario').modal({
								show : true,
								backdrop : 'static',
								keyboard:false
							});
						}
					},
					error: function() {
						$("#textoerrorusuario").html("Excepcion buscar usuario LDAP");
						$('#modalerrorusuario').modal({
							show : true,
							backdrop : 'static',
							keyboard:false
						});
				    }
				});				
			});
			
			$("#btnregistrarusuario").click(function(){
				$("#modalimagencargando").modal({
					show : true,
					backdrop : 'static',
					keyboard:false
				});
				
				if(validarCampos()){
					
					var data = {
						usuario:{
							usuario : usuario,
							tipousuario : {
								id : perfil
							},
							estado : 1
						},
						ods: array_ods
					};
					
					$.ajax({
						type : "POST",
					    contentType : "application/json",
					    url : url_base + "pedesa/registrarusuarioods",
					    data : JSON.stringify(data),
					    dataType : 'json',
						success: function(respuesta) {
							$("#modalimagencargando").modal('hide');
							if(respuesta==0){
								console.log("error al registrar usuario");
								$("#textoerrorusuario").html("Error al registrar Usuario");
								$('#modalerrorusuario').modal({
									show : true,
									backdrop : 'static',
									keyboard:false
								});
							}
							else if (respuesta == 1){
								/*console.log("usuario registrado");*/
								$("#textoexitocrearusuario").html("Se registro Usuario");
								$('#modalexitocrearusuario').modal({
									show : true,
									backdrop : 'static',
									keyboard:false
								});
							}
							else if(respuesta==2){
								$("#textoinformacionusuario").html("Usuario ya existe");
								$('#modalinformacionusuario').modal({
									show : true,
									backdrop : 'static',
									keyboard:false
								});
							}
						},
						error: function() {
							alert("excepcion al registrar usuario");
					    }
					});
					
				}
				else{
					$("#modalimagencargando").modal('hide');
					$("#textoinformacionusuario").html("<div style='color:red' class='text-left'>"+mensajeValidacionusuario+"</div>");
					$("#modalinformacionusuario").modal({
						show : true,
						backdrop : 'static',
						keyboard:false
					});
				}
				
			});			
			
			$("#btncerrarmensajeexitocrearusuario").click(function(){
				$("#modalexitocrearusuario").modal('hide');
				$("#modalagregarusuario").modal('hide');
			});
			
			$("#btncerrarmensajeinformacionusuario").click(function(){
				$("#modalinformacionusuario").modal('hide');
			});
			
			$("#btncerrarmensajeerrorusuario").click(function(){
				$("#modalerrorusuario").modal('hide');
			});
			
		});		
		
		function validarCampos(){
			
			mensajeValidacionusuario = "";
			usuario = $("#usuario").val();
			perfil = $("#perfil_usuario").val();
			array_ods = new Array();
			
			if(perfil==0){
				mensajeValidacionusuario += "Debe seleccionar Perfil"+"<br>";
			}
			
			if(usuario == 0){
				mensajeValidacionusuario += "Debe seleccionar Usuario"+"<br>";
			}
			
			$("input[name=chk_usuario]").each(function(index){
				if($(this).is(":checked")){
					array_ods.push(this.id);
				}
			});
			
			if(array_ods.length == 0){
				mensajeValidacionusuario += "Debe seleccionar por lo menos una ODS"+"<br>";
			}
			
			console.log("mensajeValidacionusuario :" + mensajeValidacionusuario);
			
			if(mensajeValidacionusuario!=""){
				return false;
			}
			return true;
		}
		
</script>

		