<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ProgramaEducativo</title>
    <script type="text/javascript">
		window.history.forward();
	</script>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="../static/css/dataTables.bootstrap4.min.css" th:href="@{/css/dataTables.bootstrap4.min.css}">
	<link rel="stylesheet" href="../static/css/responsive.bootstrap4.min.css" th:href="@{/css/responsive.bootstrap4.min.css}">
	<link rel="stylesheet" href="../static/css/editor.dataTables.min.css" th:href="@{/css/editor.dataTables.min.css}">
	<link rel="stylesheet" href="../static/css/select.dataTables.min.css" th:href="@{/css/select.dataTables.min.css}">
	<link rel="stylesheet" href="../static/css/buttons.dataTables.min.css" th:href="@{/css/buttons.dataTables.min.css}">
	<link rel="stylesheet" href="../static/css/colReorder.dataTables.min.css" th:href="@{/css/colReorder.dataTables.min.css}">
	
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}" ></script>
    <script type="text/javascript" th:src="@{/js/bootstrapv4.js}" ></script>
    <script type="text/javascript" th:src="@{/js/fontawesomev5.0.6.js}" ></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui.js}" ></script>
	
	<script type="text/javascript" th:src="@{/js/bootstrap-select.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/fontawesomev5.0.6.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.editor.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.select.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.colReorder.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.buttons.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jszip.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/pdfmake.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vfs_fonts.js}"></script>
    <script type="text/javascript" th:src="@{/js/buttons.html5.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/buttons.print.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.responsive.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/responsive.bootstrap4.min.js}"></script>      
    <script type="text/javascript" th:src="@{/js/dataTables.editor.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/datetime.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/datetime-moment.js}"></script>	
	
	<link rel="shortcut icon" th:href="@{/images/logo_login.ico}" />
	
	<script type="text/javascript" th:src="@{/js/jquery-ui.js}" ></script>
	
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
	<link href="../static/css/gijgo.min.css" rel="stylesheet" th:href="@{/css/gijgo.min.css}" >
	<script type="text/javascript" th:src="@{/js/gijgo.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/messages.es-es.js}"></script>
	<script type="text/javascript" th:src="@{/js/datetime-moment-order.js}"></script>
	<script type="text/javascript" th:src="@{/js/moment.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/date-uk.js}"></script>
	<script type="text/javascript" th:src="@{/js/date-euro.js}"></script>	
	<!-- script type="text/javascript" th:src="@{/js/btnagregartrabajo.js}"></script-->
	
</head>
<body>
	<form id="formparticipanteajax">
		<div class="row">
			<div class="col-xs-12 col-sm-12 text-left w-100" >
				<u>DATOS DEL TRABAJO</u> 	
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<input type="hidden" th:value="${tf.id}" id="trabajooid" />
				<input type="hidden" th:value="${participanteid}" id="participanteid" />
				<input type="hidden" th:value="${nroevidencias}" id="nroevidencias" />
				<input type="hidden" th:value="${evidencia1}" id="evidencia1" />
				<input type="hidden" th:value="${evidencia2}" id="evidencia2" />
				<input type="hidden" th:value="${evidencia3}" id="evidencia3" />
				<input type="hidden" th:value="${evidencia4}" id="evidencia4" />
				<input type="hidden" th:value="${evidencia5}" id="evidencia5" />
				<label for="categoriatrabajo">Seleccione categoria</label>
				<select class="form-control" id="categoriatrabajoeditar" name="categoriatrabajoeditar" th:field="*{tf.categoriatrabajo.id}">
					<option value="0">Seleccione</option>
				    <option th:each="len:${categoriatrabajo}" th:value="${len.id}" th:utext="${len.descripcion}" th:selected="${len.id} == 2"/>
				</select>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="modalidadpostulaciontrabajo">Modalidad de postulación</label>
				<select class="form-control" id="modalidadpostulaciontrabajoeditar" name="modalidadpostulaciontrabajoeditar" th:field="*{tf.modalidadtrabajo.id}">
					<option value="0">Seleccione</option>
				    <option th:each="len:${modalidadtrabajo}" th:value="${len.id}" th:utext="${len.descripcion}" th:selected="${len.id} == 1"/>
				</select>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="titulotrabajo">Título de su trabajo final</label>
				<input type="text" id="titulotrabajoeditar" name="titulotrabajoeditar" class="form-control" th:field="*{tf.titulotrabajo}"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="archivotrabajo">Subir archivo de trabajo final</label>
				<input type="file" id="archivotrabajoeditar" name="archivotrabajoeditar" class="form-control" disabled/>
				<div class='alert alert-warning alert-dismissible fade show' role='alert'><strong th:text="${nombretrabajos}"></strong>
					<button type='button' class='close' data-dismiss='alert' id="quitartrabajoeditar" name="quitartrabajoeditar"  aria-label='Close'>
							<span aria-hidden='true'>&times;</span>
					</button>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="evidenciatrabajo">Subir archivos de evidencias</label>
				<input type="file" id="evidenciastrabajoeditar" class="form-control" name="file[]"  multiple disabled/>
				<!-- div id="evidencias"  th:each="evidencia:${nombreevidencias}" -->
				<div id="divevidencias" style="overflow-y: scroll; height:150px;">
					<!--div class='alert alert-warning alert-dismissible fade show' name="divevidencia" role='alert'><strong th:text="${evidencia}"></strong>
						<button type='button' class='close' data-dismiss='alert'id="${evidencia}" aria-label='Close'>
								<span aria-hidden='true'>&times;</span>
						</button>
					</div-->						
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="linkvideo">Link de video</label>
				<input type="text" id="linkvideoeditar" name="linkvideoeditar" class="form-control" disabled th:field="*{tf.linkvideo}"/>
			</div>
		</div>	
		
		<div class="row pt-4 pb-4 m-0">
			<div class="col-xs-12 col-sm-8 text-left" style="overflow-y: scroll; height:300px;width:100%">
				<label>Seleccione participantes</label>
				<table id="table_lpt_editar"  class="table table-striped table-bordered display" cellspacing="0" style="width:100%">
					<thead>
				        <tr>
				        	<th></th>
				        	<th>Apellido paterno</th>
				            <th>Apellido materno</th>
				            <th>Nombres</th>
				            <th>Tipo documento</th>
				            <th>N° documento</th>
				            <th style="display:none;">composicionmusical</th>
				            <th style="display:none;">cuento</th>
				            <th style="display:none;">poesia</th>
				            <th style="display:none;">dibujopintura</th>
				            <th style="display:none;">ahorroagua</th>
				            <th style="display:none;">modalidadindividual</th>
				            <th style="display:none;">modalidadgrupal</th>
				            <th>Nivel</th>
				            <th style="display:none;">id</th>
				        </tr>
				    </thead>
				</table>
			</div>
			<div class="col-xs-12 col-sm-4">
				<table>
					<tr>
						<td><label>¿Qué ejes temáticos aborda tu trabajo?</label></td>
					</tr>
					<tr>
						<td><input type="checkbox" id="conversacioneditar" th:checked="${chconversacion}"  /><label style="padding-left:5px" for="conversacion">Conversación de las fuentes de agua</label></td>
					</tr>
					<tr>
						<td><input type="checkbox" id="valoracionaguaeditar" th:checked="${chvaloracionagua}" /><label style="padding-left:5px" for="valoracionagua">Valoración de los servicios de agua potable</label></td>
					</tr>
					<tr>
						<td><input type="checkbox" id="valoracionalcantarilladoeditar" th:checked="${chvaloracionalcantarillado}" /><label style="padding-left:5px" for="valoracionalcantarillado">Valoración del servicio de alcantarillado</label></td>
					</tr>
					<tr>
						<td><input type="checkbox" id="buenusoeditar" th:checked="${chbuenuso}" /><label style="padding-left:5px" for="buenuso">Buen uso y reúso del agua potable</label></td>
					</tr>
					<tr>
						<td><input type="checkbox" id="importanciaeditar" th:checked="${chimportancia}" /><label style="padding-left:5px" for="importancia">Importancia de cerrar la brecha en saneamiento</label></td>
					</tr>
					<tr>
						<td><input type="checkbox" id="vinculoeditar" th:checked="${chvinculo}" /><label style="padding-left:5px" for="vinculo">El vínculo estratégico entre ek agua segura y la salud</label></td>
					</tr>
					<tr>
						<td><input type="checkbox" id="carenciaseditar" th:checked="${chcarencias}" /><label style="padding-left:5px" for="carencias">Las carencias que ponen en riesgo la vida</label></td>
					</tr>
				</table>
			</div>
		</div>		
		
		<div class="row">
			<div class="col-xs-12 col-sm-12 text-left pt-2 w-100" >
				<u>DATOS DEL DOCENTE</u> 	
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="appaternodocente">Apellido paterno</label>
				<input type="text" id="appaternodocentetrabajoeditar" name="appaternodocentetrabajoeditar" th:field="*{tf.appaterno}" class="form-control"  onKeyPress="return filterCadena(event,this)"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="apmaternoestudiante">Apellido materno</label>
				<input type="text" id="apmaternodocentetrabajoeditar" name="apmaternodocentetrabajoeditar" th:field="*{tf.apmaterno}" class="form-control"  onKeyPress="return filterCadena(event,this)"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="nombreestudiante">Nombres</label>
				<input type="text" id="nombredocentetrabajoeditar" name="nombredocentetrabajoeditar" th:field="*{tf.nombre}" class="form-control" onKeyPress="return filterCadena(event,this)"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="archivotrabajo">Tipo documento</label>
				<select class="form-control" id="tipodocumentodocentetrabajoeditar" name="tipodocumentodocentetrabajoeditar" th:field="*{tf.tipodocumento.id}">
					<option value="0">Seleccione</option>
				    <option th:each="len:${tipodoc}" th:value="${len.id}" th:utext="${len.descripcion}"/>
				</select>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="evidenciatrabajo">N° documento</label>
				<input type="text" id="nrodocumentodocentetrabajoeditar" name="nrodocumentodocentetrabajoeditar" th:field="*{tf.nrodocumento}" disabled class="form-control" onKeyPress="return filterIntNroDocIdentidad(event,this)"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="fechanacimientoestudiante">Teléfono</label>
				<input type="text" id="telefonodocentetrabajoeditar" name="telefonodocentetrabajoeditar" class="form-control" th:field="*{tf.telefono}" onKeyPress="return filterIntTelf(event,this)" maxlength="10"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="evidenciatrabajo">Correo electrónico</label>
				<input type="text" id="correodocentetrabajoeditar" name="correodocentetrabajoeditar" th:field="*{tf.correo}" class="form-control" />
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="fechanacimientoestudiante">Género</label>
				<select class="form-control" id="generodocentetrabajoeditar" name="generodocentetrabajoeditar" th:field="*{tf.genero.id}">
					<option value="0">Seleccione</option>
				    <option th:each="len:${genero}" th:value="${len.id}" th:utext="${len.descripcion}"/>
				</select>
			</div>
		</div>
		<br>	
		<div class="row">
			<div class="col-xs-12 col-sm-6 text-right">
				<input type="button" id="btncancelartrabajoeditar" value="Cancelar" class="btn btn-danger"/>
			</div>
			<div class="col-xs-12 col-sm-6 text-left">
				<input type="button" id="btnguardartrabajoeditar" value="Guardar" class="btn btn-primary"/>
			</div>
		</div>
	</form>	
	
	<div class="modal" tabindex="-1" role="dialog" id="modalexitotrabajoeditar">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <img th:src="@{./images/imagen_exito5.png}"/>&nbsp;&nbsp; <strong class="pt-1">Registro exitoso</strong>
	      </div>
	      <div class="modal-body" id="textoexitotrabajoeditar">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary rounded-0" id="btncerrarmensajeexitotrabajoeditar" name="btncerrarmensajeexitotrabajoeditar">Aceptar</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal" tabindex="-1" role="dialog" id="modalconfirmacioneditar">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <img th:src="@{./images/imagen_informacion11.png}" />&nbsp;&nbsp; <strong class="pt-1">Confirmacion</strong>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" id="textoconfirmacioneditar">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary rounded-0" id="btnaceptarmensajeconfirmacioneditar" name="btnaceptarmensajeconfirmacioneditar">Aceptar</button>
	        <button type="button" class="btn btn-danger rounded-0" id="btncerrarmensajeconfirmacioneditar" name="btncerrarmensajeconfirmacioneditar">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal" tabindex="-1" role="dialog" id="modalinformaciontrabajoeditar">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <img th:src="@{./images/imagen_informacion11.png}" />&nbsp;&nbsp; <label class="pt-1" style="padding-right:380px">Alerta</label>
	      </div>
	      <div class="modal-body" id="textoinformaciontrabajoeditar">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger rounded-0" id="btncerrarmensajeinformaciontrabajoeditar" name="btncerrarmensajeinformaciontrabajoeditar">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal" tabindex="-1" role="dialog" id="modalerroreditar">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <img th:src="@{./images/imagen_informacion11.png}"/>&nbsp;&nbsp; <strong class="pt-1">Error</strong>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>	          
	        </button>
	      </div>
	      <div class="modal-body" id="textoerroreditar">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger rounded-0" id="btncerrarmensajeerroreditar" name="btncerrarmensajeerroreditar">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal" tabindex="-1" role="dialog" id="modalimagencargando">
	  <center>
	  	<img th:src="@{./images/cargando.gif}" style="line-height: 200px;"/>
	  </center>	  
	</div>	
</body>
</html>

<script type="text/javascript">

	var categoriatrabajo="", modalidadtrabajo="",titulotrabajo="",linkvideotrabajo="", apellidopaternotrabajo="",apellidomaternotrabajo="",nombretrabajo="",tipodoctrabajo="",nrodoctrabajo="",nrotelefonotrabajo="",correotrabajo="",generotrabajo="";
	var mensajeValidacion, celdas_seleccionadas = 0;
	var acumulanivel = "", table_lpt_editar;
	var conversacion,valoracionagua,valoracionalcantarillado,buenuso,importancia,vinculo,carencias;
	var arrayParticipante , array_nivel, arrayNombreParticipanteEditar;	
	var rows_selected;
	var array_indice = new Array();
	var nroevidencias ;
	var array_evidencias = new Array();
	var array_evidencias_eliminadas = new Array();
	
	nroevidencias = parseInt($("#nroevidencias").val());
	
	if(nroevidencias<5){
		$("#evidenciastrabajoeditar").prop("disabled",false);
	}
	else{
		$("#evidenciastrabajoeditar").prop("disabled",true);
	}
	
	var data_evidencias = "";
	for(var i=0;i<$("#nroevidencias").val();i++){
		var miarchivo = $("#evidencia" + (i+1)).val();
		data_evidencias += "<div class='alert alert-warning alert-dismissible fade show' role='alert'><strong>"+miarchivo+"</strong><button type='button' class='close' onclick='eliminarEvidencia("+'`'+miarchivo+'`'+")' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>";
	}
	$("#divevidencias").html(data_evidencias);
	
	$("#quitartrabajoeditar").click(function(){
		$("#archivotrabajoeditar").prop("disabled",false);
		bandera = true;
	});
	
	var mistyle = "";
	
	if($("#modalidadpostulaciontrabajoeditar").val() == 1) 
		mistyle = 'single';
	else
		mistyle = 'multi';
	
	$("#tipodocumentodocentetrabajoeditar").on("change",function(){
		
		if($("#tipodocumentodocentetrabajoeditar").val()!="0"){
			$("#nrodocumentodocentetrabajoeditar").prop('disabled', false);
			$("#nrodocumentodocentetrabajoeditar").val("");
			$("#nrodocumentodocentetrabajoeditar").focus();
			
		}
		else{
			$("#nrodocumentodocentetrabajoeditar").val("");
			$("#nrodocumentodocentetrabajoeditar").prop('disabled', true);
		}
	});


	$("#categoriatrabajoeditar").change(function(){
		categoriatrabajo = $("#categoriatrabajoeditar").val();			
		if(categoriatrabajo == '1' ||  categoriatrabajo == '3')
			$( "#linkvideoeditar" ).prop( "disabled", false );
		if(categoriatrabajo == '2' ||  categoriatrabajo == '4' ||  categoriatrabajo == '5')
			$( "#linkvideoeditar" ).prop( "disabled", true );
		array_indice = new Array();	
		
		table_lpt_editar.rows().deselect();
		table_lpt_editar.draw();
	});
	
	$("#modalidadpostulaciontrabajoeditar").change(function(){
		modalidadtrabajo = $("#modalidadpostulaciontrabajoeditar").val();
		if(modalidadtrabajo == '1')
			table_lpt_editar.select.style('single'); 
		if(modalidadtrabajo == '2')
			table_lpt_editar.select.style('multi');
		array_indice = new Array();
		
		table_lpt_editar.rows().deselect();
		table_lpt_editar.draw();
	});
		
	$("#table_lpt_editar").dataTable().fnDestroy();
	table_lpt_editar = $('#table_lpt_editar').DataTable({
		dom: 'Bfrtip',
	    "scrollX": true,
	    /*"searching": false,*/
	    "paging": false,
	    fixedHeader: {
            header: true,
            footer: true
        },
	    lengthMenu: [
	        [ 10, 15, 25, -1 ],
	        [ '10 filas', '15 filas', '25 filas', 'Mostrar todas' ]
	    ],
	    "processing":true,
	    language: {
	        "decimal": "",
	        "emptyTable": "No se han registrado",
	        "info": "",
	        "infoEmpty": "Mostrando 0 a 0 de 0 Entradas",
	        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
	        "infoPostFix": "",
	        "thousands": ",",
	        "lengthMenu": "Mostrar _MENU_ Entradas",
	        "loadingRecords": "Cargando Registros...",
	        "processing": "Procesando...",
	        "search": "Buscar:",
	        "zeroRecords": "Sin datos",//No existen registros
	        "paginate": {
	            "first": "Primero",
	            "last": "Ultimo",
	            "next": "Siguiente",
	            "previous": "Anterior"
	        }
	    },
	    'ajax' : {
	        "url" : url_base + 'pedesa/listaparticipantes_trabajo',
	        "type" : "GET",
	        "dataSrc" : ""
	    },
	    /*"deferRender": true,*/
	    'columnDefs': [
	    	{
                   orderable: false,
                   className: 'select-checkbox',
                   targets:   0
               },
               { "visible": false, "targets": 6 },
  		    	{ "visible": false, "targets": 7 },
  		  		{ "visible": false, "targets": 8 },
  		  		{ "visible": false, "targets": 9 },
	     	{ "visible": false, "targets": 10 },
	  		{ "visible": false, "targets": 11 },
	  		{ "visible": false, "targets": 12 },
	  		{ "visible": false, "targets": 14 }
	    ],
           select: {        	   
        	   style: mistyle,
               selector: 'td:first-child'
           },
	    'columns' : [
	    	{
          		  "data":null, render:function(){return "";}
          		},
	    	{ 'data' : 'appaterno' },
	        { 'data' : 'apmaterno' },
	        { 'data' : 'nombre' },
	        { 'data' : 'tipodocumento' },
	        { 'data' : 'nrodocumento' },
               { 'data' : 'composicionmusical'},
               { 'data' : 'cuento'},
               { 'data' : 'poesia'},
               { 'data' : 'dibujopintura'},
               { 'data' : 'ahorraragua'},
               { 'data' : 'modalidadindividual'},
               { 'data' : 'modalidadgrupal'},
               { 'data' : 'nivel'},
               { 'data' : 'id'}
	    ],
	    buttons: []
	});
	
	$("#btncancelartrabajoeditar").click(function(){
		$("#modaleditartrabajo").modal('hide');
	});
	
	$("#btncerrarmensajeinformaciontrabajoeditar").click(function(){			
		$("#modalInformaciontrabajoeditar").modal('hide');
	});
	
	$("#btncerrarmensajeinformaciontrabajoeditar").click(function(){			
		$("#modalinformaciontrabajoeditar").modal('hide');
	});
	
	$("#btncerrarmensajeexitotrabajoeditar").click(function(){
		$("#modalexitotrabajoeditar").modal('hide');
		$("#modaleditartrabajo").modal('hide');
	}); 
	
	$("#btnguardartrabajoeditar").click(function(){	
		
		$("#modalimagencargando").modal({
			show : true,
			backdrop : 'static',
			keyboard:false
		});
		
		if(validarCamposTrabajo()){
			
			conversacion = $("#conversacioneditar").is(":checked") ? 1 : 0;
			valoracionagua = $("#valoracionaguaeditar").is(":checked") ? 1 : 0 ;
			valoracionalcantarillado = $("#valoracionalcantarilladoeditar").is(":checked") ? 1 : 0;
			buenuso = $("#buenusoeditar").is(":checked") ? 1 : 0;
			importancia = $("#importanciaeditar").is(":checked") ? 1 : 0;
			vinculo = $("#vinculoeditar").is(":checked") ? 1 : 0;
			carencias = $("#carenciaseditar").is(":checked") ? 1 : 0;
			
			var trabajosfinales = {
				id: $("#trabajooid").val(),
				categoriatrabajo  : {
					id : categoriatrabajo
				},
				modalidadtrabajo : {
					id : modalidadtrabajo
				},
				titulotrabajo  : titulotrabajo,
				linkvideo : linkvideotrabajo,
				conversacion : conversacion,
				valoracionagua : valoracionagua,
				valoracionalcantarillado : valoracionalcantarillado,
				buenuso : buenuso,
				importancia : importancia,
				vinculo : vinculo,
				carencias : carencias,
				appaterno: apellidopaternotrabajo,
				apmaterno : apellidomaternotrabajo,
				nombre : nombretrabajo,
				tipodocumento : {
					id : tipodoctrabajo
				},
				nrodocumento: nrodoctrabajo,
				telefono : nrotelefonotrabajo,
				correo  : correotrabajo,
				genero : {
					id : generotrabajo
				},
				estado : 1,
				enviado : 0
			};
			
			var trabajosfinalesparticipantesDto = {
				trabajosfinales : trabajosfinales,
				listaparticipante : arrayParticipante
			}
			
			var archivos_eliminados = "";
			
			$.ajax({
				type : "POST",
			    contentType : "application/json",
			    url : url_base + "pedesa/savetrabajosfinalesparticipante",
			    data : JSON.stringify(trabajosfinalesparticipantesDto),
			    dataType : 'json',
				success: function(respuesta) {
					if(respuesta>0){						
						var data = new FormData();
						data.append('file',archivotrabajoeditar.files[0] != undefined ? archivotrabajoeditar.files[0] : null);
						data.append('id',respuesta);
						if(evidenciastrabajoeditar.files[0] != undefined){
							for(var i=0;i<evidenciastrabajoeditar.files.length;i++){
								data.append('files',evidenciastrabajoeditar.files[i]);
							}
						}
						else{
							data.append('files',null);
						}
						
						
						for(var i=0;i<array_evidencias_eliminadas.length;i++){
							archivos_eliminados += array_evidencias_eliminadas[i] + ",";
						}
						
						data.append('array_evidencias_eliminadas' , archivos_eliminados);
						
						
						/*Subiendo trabajo final y evidencias*/
						$.ajax({
					        type: "POST",
					        enctype: 'multipart/form-data',
					        url: url_base + "pedesa/subiractualizartrabajoarchivoevidencia",
					        data: data,
					        processData: false, 
					        contentType: false,
					        cache: false,
					        timeout: 600000,
					        success: function (data) {		
					        	
					        	$("#modalimagencargando").modal('hide');
					        	var nombreparticipanteeditar = "";
					        	for(var i=0;i<arrayNombreParticipanteEditar.length;i++){
					        		nombreparticipanteeditar += arrayNombreParticipanteEditar[i]  + "/";
					        	}
					        	
					        	/*console.log("evidenciastrabajoeditar.files.length :" + evidenciastrabajoeditar.files.length);
					        	console.log("nroevidencias :" + nroevidencias);
					        	console.log("array_evidencias_eliminadas.length :" + array_evidencias_eliminadas.length);
					        	
					        	table_lista_trabajos_finales.row.add({
					        		"id": respuesta,
					        		"categoria": $("#categoriatrabajoeditar option:selected").html(),
					        		"titulo" : titulotrabajo   ,
					        		"modalidad" : $("#modalidadpostulaciontrabajoeditar option:selected").html(),
					        		"participantes" : nombreparticipanteeditar,
					        		"archivos" : (evidenciastrabajoeditar.files.length + nroevidencias - array_evidencias_eliminadas.length) + " evidencias " + archivotrabajoeditar.files.length + " final",
					        		"enviado" : 0,
					        		"enviado" : 0,
					        		"enviado" :0
					        	}).draw();*/
					        	
					        	console.log("celdaseleccionada :"+ celdaseleccionada);
					        	
					        	table_lista_trabajos_finales.cell(celdaseleccionada,1).data($("#categoriatrabajoeditar option:selected").html()).draw();
					        	table_lista_trabajos_finales.cell(celdaseleccionada,2).data(titulotrabajo).draw();
					        	table_lista_trabajos_finales.cell(celdaseleccionada,3).data($("#modalidadpostulaciontrabajoeditar option:selected").html()).draw();
					        	table_lista_trabajos_finales.cell(celdaseleccionada,4).data(nombreparticipanteeditar).draw();
					        	table_lista_trabajos_finales.cell(celdaseleccionada,5).data((evidenciastrabajoeditar.files.length + nroevidencias - array_evidencias_eliminadas.length) + " evidencias " + archivotrabajoeditar.files.length + " final").draw();
								
								limpiarControlesEditar();
							    $("#textoexitotrabajoeditar").html("Se actualizó los datos del participante");
								$('#modalexitotrabajoeditar').modal({
									show : true,
									backdrop : 'static',
									keyboard:false
								});
					        },
					        error: function (e) {
					            console.log("ERROR : ", e);
					        }
					    });
						
					}
					else{
						$("#modalimagencargando").modal('hide');
						$("#textoerroreditar").html("Error al registrar trabajo");
						$('#modalerroreditar').modal({
							show : true,
							backdrop : 'static',
							keyboard:false
						});
					}
				},
				error: function() {
					$("#modalimagencargando").modal('hide');
					alert("Exception al registrar");
			    }
			});	
			
			
		}
		else{
			$("#modalimagencargando").modal('hide');
			$("#textoinformaciontrabajoeditar").html("<div style='color:red' class='text-left'>"+mensajeValidacion+"</div>");
			$('#modalinformaciontrabajoeditar').modal({
				show : true,
				backdrop : 'static',
				keyboard:false
			});
		}
	});		
	/*});*/
	
	$('#table_lpt_editar').DataTable().on("draw", function(row, data){
		
		var array_data = table_lpt_editar.data();
		var array_participanteid = $("#participanteid").val();
		array_participanteid = array_participanteid.split(',');
		
		var contador = 0;
		for(var i=0;i<array_indice.length;i++){				
			for(var j=0;j<array_participanteid.length-1;j++){ 
				if(array_indice[i] == array_participanteid[j]){
					table_lpt_editar.row(':eq('+i+')', { page: 'current' }).select();
				}
			}				
		}
	});
	
	
	$.fn.dataTable.ext.search.push(
   	    function( settings, data, dataIndex ) {
   	    	
   	    	if(settings.nTable.id !== 'table_lpt_editar'){
   	            return true;
   	        }
   	    	
   	    	var composicionmusical  = 0, cuento = 0, poesia = 0,  dibujopintura = 0 , ahorraragua = 0, modalidadindividual = 0 , modalidadgrupal = 0;
   	    	categoriatrabajo= $("#categoriatrabajoeditar").val();
   	    	modalidadtrabajo = $("#modalidadpostulaciontrabajoeditar").val();
   	    	
   	    	switch(categoriatrabajo){
   	    		case '1': composicionmusical = 1;  break;
   	    		case '2': cuento = 1; break;
   	    		case '3': poesia = 1;  break;
   	    		case '4': dibujopintura = 1; break;
   	    		case '5': ahorraragua = 1; break;
   	    	}
   	    	
   	    	switch(modalidadtrabajo){
	    		case '1': modalidadindividual = 1;  break;
	    		case '2': modalidadgrupal = 1; break;
	    	}
   	    	
   	    	if(!filtraCategoriaModalidad(composicionmusical, data[6]))
   	    		return false;
   	    	if(!filtraCategoriaModalidad(cuento, data[7]))
   	    		return false;
   	    	if(!filtraCategoriaModalidad(poesia, data[8]))
   	    		return false;
   	    	if(!filtraCategoriaModalidad(dibujopintura, data[9]))
   	    		return false;
   	    	if(!filtraCategoriaModalidad(ahorraragua, data[10]))
   	    		return false;   	    	
   	    	if(!filtraCategoriaModalidad(modalidadindividual, data[11]))
   	    		return false;
   	    	if(!filtraCategoriaModalidad(modalidadgrupal, data[12]))
   	    		return false;
   	    	array_indice.push(data[14])
   	    	return true;
   	    }
   	);
	
	function eliminarEvidencia(archivo){
		array_evidencias_eliminadas.push(archivo);
		$("#evidenciastrabajoeditar").prop("disabled",false);
	}
	
	
	function filtraCategoriaModalidad(campo1, campo2){
		if(campo1===0)
			return true;
		return campo1 == campo2;
	}
	
	function limpiarControlesEditar(){
		$("#categoriatrabajoeditar").val("0");
		$("#modalidadpostulaciontrabajoeditar").val("0");
		$("#titulotrabajoeditar").val("");
		$("#linkvideoeditar").val("");
		$("#conversacioneditar").prop("checked", false);
		$("#valoracionaguaeditar").prop("checked", false);
		$("#valoracionalcantarilladoeditar").prop("checked", false);
		$("#buenusoeditar").prop("checked", false);
		$("#importanciaeditar").prop("checked", false);
		$("#vinculoeditar").prop("checked", false);
		$("#carenciaseditar").prop("checked", false);
		$("#appaternodocentetrabajoeditar").val("");
		$("#apmaternodocentetrabajoeditar").val("");
		$("#nombredocentetrabajoeditar").val();
		$("#tipodocumentodocentetrabajoeditar").val("0");
		$("#nrodocumentodocentetrabajoeditar").val("");
		$("#telefonodocentetrabajoeditar").val("");
		$("#correodocentetrabajoeditar").val();
		$("#generodocentetrabajoeditar").val("0");
	}
	
	
	function filterCadena(evt,input){
		
		var key = window.Event ? evt.which : evt.keyCode;    
	    var chark = String.fromCharCode(key);
	    var tempValue = input.value+chark;
	    if((key >= 65 && key <= 90) || (key >= 97 && key <= 122) || (key ==32)   || (key ==241) || (key ==209) || (key ==225) || (key ==233) || (key ==237) || (key ==243) || (key ==250)  || (key ==193) || (key ==201) || (key ==205) || (key ==211) || (key ==218)   ){    
	        return true;
	    }
	    else{
	        return false;
	    }	
	}
	
	function filterIntTelf(evt,input){
		var key = window.Event ? evt.which : evt.keyCode;    
	    var chark = String.fromCharCode(key);
	    var tempValue = input.value+chark;
	    if((key >= 48 && key <= 57) || key==45){    
	        return true;
	    }
	    else{
	        return false;
	    }
	}
	
	function filterIntNroDocIdentidad(evt,input){
		
		if($("#tipodocumentodocentetrabajoeditar").val()==1){
		    var key = window.Event ? evt.which : evt.keyCode;    
		    var chark = String.fromCharCode(key);
		    var tempValue = input.value+chark;
		    if(key >= 48 && key <= 57){
		    	if($("#tipodocumentodocentetrabajoeditar").val() == 1){
					if($("#nrodocumentodocentetrabajoeditar").val().trim().length<8)
						return true;
					return false;
				}
		    	else{
		    		return true;
		    	}
		    }
		    else{
		        return false;
		    }
		}
		else if($("#tipodocumentodocentetrabajoeditar").val()==2){
			if($("#nrodocumentodocentetrabajoeditar").val().trim().length<12)
				return true;
			return false;
		}
	}
	
	function validarCamposTrabajo(){
		
		arrayParticipante = new Array()
		array_nivel = new Array();
		arrayNombreParticipanteEditar = new Array();
		
		celdas_seleccionadas = table_lpt_editar.rows('.selected').data().length;
		mensajeValidacion = "";
		categoriatrabajo = $("#categoriatrabajoeditar").val();
		modalidadtrabajo = $("#modalidadpostulaciontrabajoeditar").val();
		titulotrabajo = $("#titulotrabajoeditar").val();
		linkvideo = $("#linkvideoeditar").val();
		apellidopaternotrabajo = $("#appaternodocentetrabajoeditar").val();	
		apellidomaternotrabajo = $("#apmaternodocentetrabajoeditar").val();
		nombretrabajo = $("#nombredocentetrabajoeditar").val();
		tipodoctrabajo  = $("#tipodocumentodocentetrabajoeditar").val();
		nrodoctrabajo  = $("#nrodocumentodocentetrabajoeditar").val();
		nrotelefonotrabajo  = $("#telefonodocentetrabajoeditar").val();
		correotrabajo  = $("#correodocentetrabajoeditar").val();
		generotrabajo  = $("#generodocentetrabajoeditar").val();
		
		conversacion = $("#conversacioneditar").is(":checked");
		valoracionagua = $("#valoracionaguaeditar").is(":checked") ;
		valoracionalcantarillado = $("#valoracionalcantarilladoeditar").is(":checked")
		buenuso = $("#buenusoeditar").is(":checked") ;
		importancia = $("#importanciaeditar").is(":checked");
		vinculo = $("#vinculoeditar").is(":checked");
		carencias = $("#carenciaseditar").is(":checked");
		
		if(categoriatrabajo == 0){
			mensajeValidacion = "Debe seleccionar categoria"+"<br>";
		}
		
		if(modalidadtrabajo == 0){
			mensajeValidacion += "Debe seleccionar modalidad"+"<br>";
		}
		else{
			if( modalidadtrabajo == 1 && celdas_seleccionadas != 1 ) {
				mensajeValidacion += "Debe seleccionar 1 celda de la tabla "+"<br>";
			}
			if( modalidadtrabajo == 2 && celdas_seleccionadas < 2 ) {
				mensajeValidacion += "Debe seleccionar mínimo 2 celdas de la tabla"+"<br>";
			}
		}
		
		if(modalidadtrabajo=="0"){
			mensajeValidacion += "Debe seleccionar modalidad"+"<br>";
		}
		
		if(titulotrabajo.trim()==""){
			mensajeValidacion += "Debe ingresar título de su trabajo final"+"<br>";
		}
		
		if(!$("#archivotrabajoeditar").is(':disabled') && archivotrabajoeditar.files.length==0){
			mensajeValidacion += "Debe subir archivo de trabajo final"+"<br>";
		}
		else{
			if(!$("#archivotrabajoeditar").is(':disabled')){
				var archivotrabajo_name = (archivotrabajoeditar.files[0]).name;
				var archivotrabajo_size = (archivotrabajoeditar.files[0]).size;
				if(archivotrabajo_size >20000000){
					mensajeValidacion += "El archivo " + archivotrabajo_name +" no debe superar los 20MB"+"<br>";
				}
				var ext = archivotrabajo_name.split('.').pop();
				ext = ext.toLowerCase();
				switch(ext){
					case 'jpg': break;
					case 'png': break;
					case 'jpeg': break;
					case 'pdf': break;
					case 'docx': break;
					case 'mp3': break;
					case 'mp4': break;
					default: mensajeValidacion += "El archivo " + archivotrabajo_name + " debe tener extensión jpg , png, pdf, word,mp3,mp4"+"<br>";	
				}
			}			
		}
		
		if( (evidenciastrabajoeditar.files.length  + (nroevidencias - array_evidencias_eliminadas.length) ) >5  ||  (evidenciastrabajoeditar.files.length  + (nroevidencias - array_evidencias_eliminadas.length) ) == 0  ){
			mensajeValidacion += "Debe subir hasta 5 evidencias"+"<br>";
		}
		else{
			
			for(var i=0;i<evidenciastrabajoeditar.files.length;i++){
				
				var evidenciastrabajo_name = (evidenciastrabajoeditar.files[i]).name;
				var evidenciastrabajo_size = (evidenciastrabajoeditar.files[i]).size;
				if(evidenciastrabajo_size >20000000){
					mensajeValidacion += "El archivo "  + evidenciastrabajo_name + " no debe superar los 20MB"+"<br>";
				}
				var ext = evidenciastrabajo_name.split('.').pop();
				ext = ext.toLowerCase();
				switch(ext){
					case 'jpg': break;
					case 'png': break;
					case 'jpeg': break;
					case 'pdf': break;
					case 'docx': break;
					case 'mp3': break;
					case 'mp4': break;
					default: mensajeValidacion += "El archivo " + evidenciastrabajo_name + " debe tener extensión jpg , png, pdf, word,mp3,mp4"+"<br>";	
				}
			}	
		}
		
		if(linkvideo.trim()=="" &&  (categoriatrabajo == "1" || categoriatrabajo == "3") ){
			mensajeValidacion += "Debe ingresar link de video"+"<br>";
		}
		
		var array = table_lpt_editar.rows(".selected").data();	
		var nombre="";
		for(i=0;i<array.length;i++){
			array_nivel.push(array[i].nivel);
			arrayParticipante.push({id : (array[i].id)});
			nombre = array[i].nombre + " " + array[i].appaterno + " " + array[i].apmaterno;
			arrayNombreParticipanteEditar.push(nombre);
		}
		
		let igual = true;
		for (let i = 0; i < array_nivel.length-1 ; i++) {
		    if (array_nivel[i] !== array_nivel[i + 1]) {
		      igual=false;
		      break;
		    }
		}
		
		if(!igual){
			mensajeValidacion += "Debe seleccionar participantes con el mismo nivel"+"<br>";
		}
		
		if( ! (conversacion || valoracionagua || valoracionalcantarillado || buenuso || importancia || vinculo  || carencias)){
			mensajeValidacion += "Debe seleccionar ejes temáticos"+"<br>";
		}
		
		if(apellidopaternotrabajo.trim()==""){
			mensajeValidacion += "Debe ingresar apellido paterno de docente"+"<br>";
		}
		
		if(apellidomaternotrabajo.trim()==""){
			mensajeValidacion += "Debe ingresar apellido materno de docente"+"<br>";
		}
		
		if(nombretrabajo.trim()==""){
			mensajeValidacion += "Debe ingresar nombre de docente"+"<br>";
		}
		
		if(tipodoctrabajo == "0"){
			mensajeValidacion += "Debe seleccionar tipo de documento de docente"+"<br>";
		}
		
		if(nrodoctrabajo.trim()==""){
			mensajeValidacion += "Debe ingresar número de documento de Docente"+"<br>";
		}
		
		if(correotrabajo.trim()==""){
			mensajeValidacion += "Debe ingresar correo electrónico de docente"+"<br>";
		}
		
		if(generotrabajo=="0"){
			mensajeValidacion += "Debe seleccionar genero de docente"+"<br>";
		}
		
		if(!(/^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i.test(correotrabajo))){		
			mensajeValidacion += "Debe ingresar correctamente el correo electrónico de docente"+"<br>";
		}
		
		if(mensajeValidacion!=""){
			return false;
		}
		return true;
	}

</script>