<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ProgramaEducativo</title>
    <script type="text/javascript">
		window.history.forward();
	</script>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="../static/css/dataTables.bootstrap4.min.css" th:href="@{/css/dataTables.bootstrap4.min.css}">
	<link rel="stylesheet" href="../static/css/responsive.bootstrap4.min.css" th:href="@{/css/responsive.bootstrap4.min.css}">
	<link rel="stylesheet" href="../static/css/editor.dataTables.min.css" th:href="@{/css/editor.dataTables.min.css}">
	<link rel="stylesheet" href="../static/css/select.dataTables.min.css" th:href="@{/css/select.dataTables.min.css}">
	<link rel="stylesheet" href="../static/css/buttons.dataTables.min.css" th:href="@{/css/buttons.dataTables.min.css}">
	<link rel="stylesheet" href="../static/css/colReorder.dataTables.min.css" th:href="@{/css/colReorder.dataTables.min.css}">
	
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}" ></script>
    <script type="text/javascript" th:src="@{/js/bootstrapv4.js}" ></script>
    <script type="text/javascript" th:src="@{/js/fontawesomev5.0.6.js}" ></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui.js}" ></script>
	
	<script type="text/javascript" th:src="@{/js/bootstrap-select.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/fontawesomev5.0.6.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.editor.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.select.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.colReorder.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.buttons.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jszip.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/pdfmake.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vfs_fonts.js}"></script>
    <script type="text/javascript" th:src="@{/js/buttons.html5.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/buttons.print.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.responsive.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/responsive.bootstrap4.min.js}"></script>      
    <script type="text/javascript" th:src="@{/js/dataTables.editor.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/datetime.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/datetime-moment.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/jquery-ui.js}" ></script>
	
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
	<link href="../static/css/gijgo.min.css" rel="stylesheet" th:href="@{/css/gijgo.min.css}" >
	<script type="text/javascript" th:src="@{/js/gijgo.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/messages.es-es.js}"></script>
	<script type="text/javascript" th:src="@{/js/datetime-moment-order.js}"></script>
	<script type="text/javascript" th:src="@{/js/moment.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/date-uk.js}"></script>
	<script type="text/javascript" th:src="@{/js/date-euro.js}"></script>	
	<!-- script type="text/javascript" th:src="@{/js/btnagregartrabajo.js}"></script-->
	
</head>
<body>
	<form id="formparticipanteajax">
		<div class="row">
			<div class="col-xs-12 col-sm-12 text-left w-100" >
				<u>DETALLE DEL TRABAJO</u> 	
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<input type="hidden" th:value="${tf.id}" id="trabajooid" />
				<label for="categoriatrabajo">Categoria</label>
				<input type="text" th:value="${tf.categoriatrabajo.descripcion}" disabled />
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="modalidadpostulaciontrabajo">Modalidad de postulación</label>
				<input type="text" th:value="${tf.modalidadtrabajo.descripcion}" disabled />
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="titulotrabajo">Título de su trabajo final</label>
				<input type="text" class="form-control" th:field="*{tf.titulotrabajo}" disabled/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="archivotrabajo"><strong>Archivo de trabajo final</strong></label>
				<table  th:each="trabajo : ${nombretrabajos}">
				    <tr>
				        <td th:text="${trabajo}"></td>
				    </tr>
				</table>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="evidenciatrabajo"><strong>Archivos de evidencias</strong></label>
				<table th:each="evidencia:${nombreevidencias}">
				    <tr>
				        <td th:text="${evidencia}"></td>
				    </tr>
				</table>				
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="linkvideo">Link de video</label>
				<input type="text" class="form-control" disabled th:field="*{tf.linkvideo}"/>
			</div>
		</div>	
		
		<div class="row pt-4 pb-4 m-0">
			<div class="col-xs-12 col-sm-8 text-left" style="overflow-y: scroll; height:300px;width:100%">
				<label>Seleccione participantes</label>
				<table id="table_lpt_ver"  class="table table-striped table-bordered display" cellspacing="0" style="width:100%">
					<thead>
				        <tr>
				        	<th>Apellido paterno</th>
				            <th>Apellido materno</th>
				            <th>Nombres</th>
				            <th>Tipo documento</th>
				            <th>N° documento</th>
				            <th>Nivel</th>
				        </tr>
				    </thead>
				</table>
			</div>
			<div class="col-xs-12 col-sm-4">
				<table>
					<tr>
						<td><label>¿Qué ejes temáticos aborda tu trabajo?</label></td>
					</tr>
					<tr>
						<td><input type="checkbox" th:checked="${chconversacion}" disabled /><label style="padding-left:5px" >Conversación de las fuentes de agua</label></td>
					</tr>
					<tr>
						<td><input type="checkbox" th:checked="${chvaloracionagua}" disabled/><label style="padding-left:5px" >Valoración de los servicios de agua potable</label></td>
					</tr>
					<tr>
						<td><input type="checkbox" th:checked="${chvaloracionalcantarillado}" disabled/><label style="padding-left:5px" >Valoración del servicio de alcantarillado</label></td>
					</tr>
					<tr>
						<td><input type="checkbox" th:checked="${chbuenuso}" disabled/><label style="padding-left:5px">Buen uso y reúso del agua potable</label></td>
					</tr>
					<tr>
						<td><input type="checkbox" th:checked="${chimportancia}" disabled/><label style="padding-left:5px" >Importancia de cerrar la brecha en saneamiento</label></td>
					</tr>
					<tr>
						<td><input type="checkbox" th:checked="${chvinculo}" disabled/><label style="padding-left:5px" >El vínculo estratégico entre ek agua segura y la salud</label></td>
					</tr>
					<tr>
						<td><input type="checkbox" th:checked="${chcarencias}" disabled/><label style="padding-left:5px" >Las carencias que ponen en riesgo la vida</label></td>
					</tr>
				</table>
			</div>
		</div>		
		
		<div class="row">
			<div class="col-xs-12 col-sm-12 text-left pt-2 w-100" >
				<u>DATOS DEL DOCENTE</u> 	
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="appaternodocente">Apellido paterno</label>
				<input type="text" disabled th:field="*{tf.appaterno}" class="form-control" />
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="apmaternoestudiante">Apellido materno</label>
				<input type="text" disabled th:field="*{tf.apmaterno}" class="form-control" />
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="nombreestudiante">Nombres</label>
				<input type="text" disabled th:field="*{tf.nombre}" class="form-control" />
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="archivotrabajo">Tipo documento</label>
				<input type="text" disabled th:field="*{tf.tipodocumento.descripcion}" class="form-control" />
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="evidenciatrabajo">N° documento</label>
				<input type="text" th:field="*{tf.nrodocumento}" disabled class="form-control" />
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="fechanacimientoestudiante">Teléfono</label>
				<input type="text" class="form-control" th:field="*{tf.telefono}" disabled/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="evidenciatrabajo">Correo electrónico</label>
				<input type="text" disabled th:field="*{tf.correo}" class="form-control" />
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="fechanacimientoestudiante">Género</label>
				<input type="text" disabled th:field="*{tf.genero.descripcion}" class="form-control" />
			</div>
		</div>
		<br>
		<div >
		  		<button type="button" class="btn btn-outline-primary" id="btncerrarvertrabajo" name="btncerrarvertrabajo">Cerrar</button>
		</div>
	</form>	
</body>
</html>

<script type="text/javascript">

	$("#btncerrarvertrabajo").click(function(){
		$("#modalvertrabajo").modal('hide');
	});

	$("#table_lpt_ver").dataTable().fnDestroy();
	table_lpt_ver = $('#table_lpt_ver').DataTable({
		dom: 'Bfrtip',
	    "scrollX": true,
	    /*"searching": false,*/
	    "paging": false,
	    fixedHeader: {
            header: true,
            footer: true
        },
	    lengthMenu: [
	        [ 10, 15, 25, -1 ],
	        [ '10 filas', '15 filas', '25 filas', 'Mostrar todas' ]
	    ],
	    "processing":true,
	    language: {
	        "decimal": "",
	        "emptyTable": "No se han registrado",
	        "info": "",
	        "infoEmpty": "Mostrando 0 a 0 de 0 Entradas",
	        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
	        "infoPostFix": "",
	        "thousands": ",",
	        "lengthMenu": "Mostrar _MENU_ Entradas",
	        "loadingRecords": "Cargando Registros...",
	        "processing": "Procesando...",
	        "search": "Buscar:",
	        "zeroRecords": "Sin datos",//No existen registros
	        "paginate": {
	            "first": "Primero",
	            "last": "Ultimo",
	            "next": "Siguiente",
	            "previous": "Anterior"
	        }
	    },
	    'ajax' : {
	        "url" : url_base + 'pedesa/listaparticipantesver_trabajo/'+$("#trabajooid").val() ,
	        "type" : "GET",
	        "dataSrc" : ""
	    },
	    'columnDefs': [
		    	
	    ],
	    'columns' : [
	    		{ 'data' : 'apellidopaterno' },
		        { 'data' : 'apellidomaterno' },
		        { 'data' : 'nombres' },
		        { 'data' : 'tipodocumento' },
		        { 'data' : 'nrodocumento' },
               { 'data' : 'nivel'}
	    ],
	    buttons: []
	});

</script>