<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ProgramaEducativo</title>
    <script type="text/javascript">
		window.history.forward();
	</script>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="../static/css/dataTables.bootstrap4.min.css" th:href="@{/css/dataTables.bootstrap4.min.css}">
	<link rel="stylesheet" href="../static/css/responsive.bootstrap4.min.css" th:href="@{/css/responsive.bootstrap4.min.css}">
	<link rel="stylesheet" href="../static/css/editor.dataTables.min.css" th:href="@{/css/editor.dataTables.min.css}">
	<link rel="stylesheet" href="../static/css/select.dataTables.min.css" th:href="@{/css/select.dataTables.min.css}">
	<link rel="stylesheet" href="../static/css/buttons.dataTables.min.css" th:href="@{/css/buttons.dataTables.min.css}">
	<link rel="stylesheet" href="../static/css/colReorder.dataTables.min.css" th:href="@{/css/colReorder.dataTables.min.css}">
	
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}" ></script>
    <script type="text/javascript" th:src="@{/js/bootstrapv4.js}" ></script>
    <script type="text/javascript" th:src="@{/js/fontawesomev5.0.6.js}" ></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui.js}" ></script>
	
	<script type="text/javascript" th:src="@{/js/bootstrap-select.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/fontawesomev5.0.6.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.editor.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.select.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.colReorder.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.buttons.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jszip.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/pdfmake.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vfs_fonts.js}"></script>
    <script type="text/javascript" th:src="@{/js/buttons.html5.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/buttons.print.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.responsive.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/responsive.bootstrap4.min.js}"></script>      
    <script type="text/javascript" th:src="@{/js/dataTables.editor.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/datetime.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/datetime-moment.js}"></script>	
	
	<script type="text/javascript" th:src="@{/js/jquery-ui.js}" ></script>
	
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="../static/css/nuevo_disenio.css" th:href="@{/css/nuevo_disenio.css}">
	<link href="../static/css/gijgo.min.css" rel="stylesheet" th:href="@{/css/gijgo.min.css}" >
	<script type="text/javascript" th:src="@{/js/gijgo.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/messages.es-es.js}"></script>
	<script type="text/javascript" th:src="@{/js/datetime-moment-order.js}"></script>
	<script type="text/javascript" th:src="@{/js/moment.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/date-uk.js}"></script>
	<script type="text/javascript" th:src="@{/js/date-euro.js}"></script>	
	<script type="text/javascript" th:src="@{/js/formeditartrabajo.js}"></script>
	
	<style>
	
		.rs_seleccione_participante_edit{
			  /*width:33%;*/
			  float:left;
			  text-align:center;
			  display: inline-flex;
			  vertical-align: middle;
			  padding: 0.375rem 0.75rem;
			  font-size: 0.75rem;
			  line-height: 1.5;
			  justify-content: left;
		}
	
		table{
	        overflow-x:auto;
	    }
	    table td{
	        word-wrap: break-word;
	        max-width: 600px;
	    }
	    #table_lpt_editar td{
	        white-space: inherit;
	    }
		
	</style>
	
</head>
<body>
	<form id="formparticipanteajax">
		<div class="row">
			<div class="col-xs-12 col-sm-12 text-left w-100" >
				<u>DATOS DEL TRABAJO</u> 	
			</div>
			<div class="col-xs-12 col-sm-3 text-left pt-4">
				<input type="hidden" th:value="${tf.id}" id="trabajooid" />
				<input type="hidden" th:value="${participanteid}" id="participanteid" />
				<input type="hidden" th:value="${nroevidencias}" id="nroevidencias" />
				<input type="hidden" th:value="${evidencia1}" id="evidencia1" />
				<input type="hidden" th:value="${evidencia2}" id="evidencia2" />
				<input type="hidden" th:value="${evidencia3}" id="evidencia3" />
				<input type="hidden" th:value="${evidencia4}" id="evidencia4" />
				<input type="hidden" th:value="${evidencia5}" id="evidencia5" />
				<input type="hidden" th:value="${evidencia6}" id="evidencia6" />
				<input type="hidden" th:value="${evidencia7}" id="evidencia7" />
				<input type="hidden" th:value="${evidencia8}" id="evidencia8" />
				<input type="hidden" th:value="${evidencia9}" id="evidencia9" />
				<input type="hidden" th:value="${evidencia10}" id="evidencia10" />
				<label for="categoriatrabajo">Seleccione categoria</label>
				<select class="form-control" id="categoriatrabajoeditar" name="categoriatrabajoeditar" th:field="*{tf.categoriatrabajo.id}">
					<option value="0">Seleccione</option>
				    <option th:each="len:${categoriatrabajo}" th:value="${len.id}" th:utext="${len.descripcion}" th:selected="${len.id} == 2"/>
				</select>
			</div>
			<div class="col-xs-12 col-sm-6 text-left pt-4">
				<label for="modalidadpostulaciontrabajo">Modalidad de postulación</label>
				<select class="form-control" id="modalidadpostulaciontrabajoeditar" name="modalidadpostulaciontrabajoeditar" th:field="*{tf.modalidadtrabajo.id}">
					<option value="0">Seleccione</option>
				    <option th:each="len:${modalidadtrabajo}" th:value="${len.id}" th:utext="${len.descripcion}" th:selected="${len.id} == 1"/>
				</select>
			</div>
			<div class="col-xs-12 col-sm-3 text-left pt-4">
				<label for="titulotrabajo">Título de su trabajo final</label>
				<input type="text" id="titulotrabajoeditar" name="titulotrabajoeditar" class="form-control" th:field="*{tf.titulotrabajo}"/>
			</div>
			<div class="col-xs-12 col-sm-3 text-left pt-4">
				<label for="archivotrabajo">Subir archivo de trabajo final</label>
				<input type="file" id="archivotrabajoeditar" name="archivotrabajoeditar" class="form-control" disabled/>
				<div class='alert alert-warning alert-dismissible fade show' role='alert'><strong th:text="${nombretrabajos}"></strong>
					<button type='button' class='close' data-dismiss='alert' id="quitartrabajoeditar" name="quitartrabajoeditar"  aria-label='Close'>
							<span aria-hidden='true'>&times;</span>
					</button>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 text-left pt-4">
				<label for="evidenciatrabajo">Subir archivos de evidencias</label>
				<input type="file" id="evidenciastrabajoeditar" class="form-control" name="file[]"  multiple disabled/>				
				<div id="divevidencias" style="height:65px;">											
				</div>
			</div>
			<div class="col-xs-12 col-sm-3 text-left pt-4">
				<label for="linkvideo">Link de video</label>
				<input type="text" id="linkvideoeditar" name="linkvideoeditar" class="form-control" th:field="*{tf.linkvideo}"/>
			</div>
		</div>	
		
		<div class="row pb-4">
			<div class="col-xs-12 col-sm-8 text-left" style="overflow-y: scroll; height:260px;width:100%">
				<table id="table_lpt_editar"  class="table table-striped table-bordered nowrap">
					<thead>
				        <tr>
				        	<th></th>
				        	<th>Apellido paterno</th>
				            <th>Apellido materno</th>
				            <th>Nombres</th>
				            <th>Tipo documento</th>
				            <th>N° documento</th>
				            <th style="display:none;">composicionmusical</th>
				            <th style="display:none;">cuento</th>
				            <th style="display:none;">poesia</th>
				            <th style="display:none;">dibujopintura</th>
				            <th style="display:none;">ahorroagua</th>
				            <th style="display:none;">modalidadindividual</th>
				            <th style="display:none;">modalidadgrupal</th>
				            <th>Nivel</th>
				            <th style="display:none;">id</th>
				        </tr>
				    </thead>
				</table>
			</div>
			<div class="col-xs-12 col-sm-4">
				<table class="w-100 ml-2">
					<tr>
						<td><label>¿Qué ejes temáticos aborda tu trabajo?</label></td>
					</tr>
					<tr>
						<td><input type="checkbox" id="conversacioneditar" th:checked="${chconversacion}"  /><label style="padding-left:5px" for="conversacion">Conversación de las fuentes de agua</label></td>
					</tr>
					<tr>
						<td><input type="checkbox" id="valoracionaguaeditar" th:checked="${chvaloracionagua}" /><label style="padding-left:5px" for="valoracionagua">Valoración de los servicios de agua potable</label></td>
					</tr>
					<tr>
						<td><input type="checkbox" id="valoracionalcantarilladoeditar" th:checked="${chvaloracionalcantarillado}" /><label style="padding-left:5px" for="valoracionalcantarillado">Valoración del servicio de alcantarillado</label></td>
					</tr>
					<tr>
						<td><input type="checkbox" id="buenusoeditar" th:checked="${chbuenuso}" /><label style="padding-left:5px" for="buenuso">Buen uso y reúso del agua potable</label></td>
					</tr>
					<tr>
						<td><input type="checkbox" id="importanciaeditar" th:checked="${chimportancia}" /><label style="padding-left:5px" for="importancia">Importancia de cerrar la brecha en saneamiento</label></td>
					</tr>
					<tr>
						<td><input type="checkbox" id="vinculoeditar" th:checked="${chvinculo}" /><label style="padding-left:5px" for="vinculo">El vínculo estratégico entre el agua segura y la salud</label></td>
					</tr>
					<tr>
						<td><input type="checkbox" id="carenciaseditar" th:checked="${chcarencias}" /><label style="padding-left:5px" for="carencias">Las carencias que ponen en riesgo la vida</label></td>
					</tr>
				</table>
			</div>
		</div>		
		
		<div class="row">
			<div class="col-xs-12 col-sm-12 text-left pt-2 w-100" >
				<u>DATOS DEL DOCENTE</u> 	
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="appaternodocente">Apellido paterno</label>
				<input type="text" id="appaternodocentetrabajoeditar" name="appaternodocentetrabajoeditar" th:field="*{tf.appaterno}" class="form-control"  onKeyPress="return filterCadena(event,this)"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="apmaternoestudiante">Apellido materno</label>
				<input type="text" id="apmaternodocentetrabajoeditar" name="apmaternodocentetrabajoeditar" th:field="*{tf.apmaterno}" class="form-control"  onKeyPress="return filterCadena(event,this)"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="nombreestudiante">Nombres</label>
				<input type="text" id="nombredocentetrabajoeditar" name="nombredocentetrabajoeditar" th:field="*{tf.nombre}" class="form-control" onKeyPress="return filterCadena(event,this)"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="archivotrabajo">Tipo documento</label>
				<select class="form-control" id="tipodocumentodocentetrabajoeditar" name="tipodocumentodocentetrabajoeditar" th:field="*{tf.tipodocumento.id}">
					<option value="0">Seleccione</option>
				    <option th:each="len:${tipodoc}" th:value="${len.id}" th:utext="${len.descripcion}"/>
				</select>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="evidenciatrabajo">N° documento</label>
				<input type="text" id="nrodocumentodocentetrabajoeditar" name="nrodocumentodocentetrabajoeditar" th:field="*{tf.nrodocumento}" disabled class="form-control" onKeyPress="return filterIntNroDocIdentidad(event,this)"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="fechanacimientoestudiante">Teléfono</label>
				<input type="text" id="telefonodocentetrabajoeditar" name="telefonodocentetrabajoeditar" class="form-control" th:field="*{tf.telefono}" onKeyPress="return filterIntTelf(event,this)" maxlength="10"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="evidenciatrabajo">Correo electrónico</label>
				<input type="text" id="correodocentetrabajoeditar" name="correodocentetrabajoeditar" th:field="*{tf.correo}" class="form-control" />
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-4">
				<label for="fechanacimientoestudiante">Género</label>
				<select class="form-control" id="generodocentetrabajoeditar" name="generodocentetrabajoeditar" th:field="*{tf.genero.id}">
					<option value="0">Seleccione</option>
				    <option th:each="len:${genero}" th:value="${len.id}" th:utext="${len.descripcion}"/>
				</select>
			</div>
		</div>
		<br>	
		<div class="row">
			<div class="col-xs-12 col-sm-6 text-right">
				<input type="button" id="btncancelartrabajoeditar" value="Cancelar" class="btn btn-outline-primary"/>
			</div>
			<div class="col-xs-12 col-sm-6 text-left">
				<input type="button" id="btnguardartrabajoeditar" value="Guardar" class="btn btn-primary"/>
			</div>
		</div>
	</form>	
	
	<div class="modal" tabindex="-1" role="dialog" id="modalexitotrabajoeditar">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <img th:src="@{./images/imagen_exito5.png}"/>&nbsp;&nbsp; <strong class="pt-1">Registro exitoso</strong>
	      </div>
	      <div class="modal-body" id="textoexitotrabajoeditar">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary rounded-0" id="btncerrarmensajeexitotrabajoeditar" name="btncerrarmensajeexitotrabajoeditar">Aceptar</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal" tabindex="-1" role="dialog" id="modalconfirmacioneditar">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <img th:src="@{./images/imagen_informacion11.png}" />&nbsp;&nbsp; <strong class="pt-1">Confirmacion</strong>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" id="textoconfirmacioneditar">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" id="btnaceptarmensajeconfirmacioneditar" name="btnaceptarmensajeconfirmacioneditar">Aceptar</button>
	        <button type="button" class="btn btn-outline-primary" id="btncerrarmensajeconfirmacioneditar" name="btncerrarmensajeconfirmacioneditar">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal" tabindex="-1" role="dialog" id="modalinformaciontrabajoeditar">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <img th:src="@{./images/imagen_informacion11.png}" />&nbsp;&nbsp; <label class="pt-1" style="padding-right:380px">Alerta</label>
	      </div>
	      <div class="modal-body" id="textoinformaciontrabajoeditar">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger rounded-0" id="btncerrarmensajeinformaciontrabajoeditar" name="btncerrarmensajeinformaciontrabajoeditar">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal" tabindex="-1" role="dialog" id="modalerroreditar">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <img th:src="@{./images/imagen_informacion11.png}"/>&nbsp;&nbsp; <strong class="pt-1">Error</strong>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>	          
	        </button>
	      </div>
	      <div class="modal-body" id="textoerroreditar">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-outline-primary" id="btncerrarmensajeerroreditar" name="btncerrarmensajeerroreditar">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal" tabindex="-1" role="dialog" id="modalimagencargando">
	  <center>
	  	<img th:src="@{./images/cargando.gif}" style="line-height: 200px;"/>
	  </center>	  
	</div>	
</body>
</html>

<!--script type="text/javascript">
</script-->