<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ProgramaEducativo</title>
    <script type="text/javascript">
		window.history.forward();
	</script>

   
	
	<script type="text/javascript" th:src="@{/js/agregarusuario.js?v=123}"></script>  
</head>
<body>
	<form id="formparticipanteajax">
		<input type="hidden" name="idAlianzaEstrategica" id="idAlianzaEstrategica" class="form-control" th:value="${idAlianzaEstrategica}"/>
		<div class="row">
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<select class="form-control" id="odsresgusu" name="odsresgusu">
					<option value="0">ODS</option>
				    <option th:each="len:${odsregusu}" th:value="${len.id}" th:utext="${len.descripcion}"/>
				</select>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<input type="text" name="anioregusu" id="anioregusu" class="form-control" value="2021" disabled/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<select class="form-control" id="categoriaregusu" name="categoriaregusu">
					<option value="0">Categoría</option>
				    <option th:each="len:${categoriaregusu}" th:value="${len.id}" th:utext="${len.descripcion}"/>
				</select>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<input type="text" name="entidadregusu" id="entidadregusu" class="form-control" placeholder="Entidad" maxlength="60"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<input type="text" name="direccionregusu" id="direccionregusu" class="form-control" placeholder="Dirección" maxlength="60"/>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12 col-sm-12 text-left pt-4 w-100">
				<u>Perfil</u>
			</div>
			<div class="col-xs-12 col-sm-3 text-left pt-4">
				<label>Comite Técnico
					<input type="checkbox" name="perfilregusuComiteTecnico" id="perfilregusuComiteTecnico" />
				</label>
			</div>
			<div class="col-xs-12 col-sm-3 text-left pt-4">
				<label>Comite Evaluador
					<input type="checkbox" name="perfilregusuComiteEvaluador" id="perfilregusuComiteEvaluador" />
				</label>
			</div>
			<div class="col-xs-12 col-sm-3 text-left pt-4">
				<label>Auspiciador
					<input type="checkbox" name="perfilregusuAuspiciador" id="perfilregusuAuspiciador" />
				</label>
			</div>
			<div class="col-xs-12 col-sm-3 text-left pt-4">
				<label>Aliado
					<input type="checkbox" name="perfilregusuAliado" id="perfilregusuAliado" />
				</label>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12 col-sm-12 text-left pt-4 w-100">
				<u>Datos del Contacto</u>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<label>¿Cúantos contactos desea agregar?</label>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<select class="form-control" id="numcontactoresgusu" name="numcontactoresgusu">
					<option value="0">Seleccione</option>
				    <option value="1">1</option>
				    <option value="2">2</option>
				</select>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<input type="text" name="apepatcontactoregusu" id="apepatcontactoregusu" class="form-control" placeholder="Apellido Paterno" maxlength="60"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<input type="text" name="apematcontactoregusu" id="apematcontactoregusu" class="form-control" placeholder="Apellido Materno" maxlength="60"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<input type="text" name="nombrecontactoregusu" id="nombrecontactoregusu" class="form-control" placeholder="Nombres" maxlength="60"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<select class="form-control" id="tipocodcontactoresgusu" name="tipocodcontactoresgusu">
					<option value="0">Tipo de documento</option>
				    <option th:each="len:${tipodoc}" th:value="${len.id}" th:utext="${len.descripcion}"/>
				</select>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<input type="text" name="numdoccontactoregusu" id="numdoccontactoregusu" class="form-control" placeholder="N° de documento" onKeyPress="return filterIntNroDocIdentidad(event,this)"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<input type="text" name="numtelcontactoregusu" id="numtelcontactoregusu" class="form-control" placeholder="N° de teléfono 1"  onKeyPress="return filterIntInput(event,this)" maxlength="10"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<input type="text" name="numtel2contactoregusu" id="numtel2contactoregusu" class="form-control" placeholder="N° de teléfono 2"  onKeyPress="return filterIntInput(event,this)" maxlength="10"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<input type="text" name="correocontactoregusu" id="correocontactoregusu" class="form-control" placeholder="Correo Intitucional" maxlength="60"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<input type="text" name="cargocontactoregusu" id="cargocontactoregusu" class="form-control" placeholder="Cargo" maxlength="60"/>
			</div>
		</div>	
		<hr>
		<div class="row" id="section-datos-autoridad" style="display: none;">
			<div class="col-xs-12 col-sm-12 text-left pt-4 w-100">
				<u>Datos de la Autoridad/Evaluador</u>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<input type="text" name="apepatautoridad" id="apepatautoridad" class="form-control" placeholder="Apellido Paterno" maxlength="60"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<input type="text" name="apematautoridad" id="apematautoridad" class="form-control" placeholder="Apellido Materno" maxlength="60"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<input type="text" name="nombreautoridad" id="nombreautoridad" class="form-control" placeholder="Nombres" maxlength="60"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<input type="text" name="correoautoridad" id="correoautoridad" class="form-control" placeholder="Correo Institucional" maxlength="60"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<input type="text" name="cargoautoridad" id="cargoautoridad" class="form-control" placeholder="Cargo" maxlength="60"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<input type="text" name="usuarioautoridad" id="usuarioautoridad" class="form-control" placeholder="Usuario" maxlength="60"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<input type="text" name="passwordautoridad" id="passwordautoridad" class="form-control" placeholder="Contraseña" maxlength="60"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<label>Enviar Oficio: 
					<input type="radio" name="sendOficio" id="sendOficioSi" value="1" checked/> Sí
					<input type="radio" name="sendOficio" id="sendOficioNo" value="0"/> NO
				</label>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<input type="text" name="numoficioautoridad" id="numoficioautoridad" class="form-control" placeholder="N° Oficio" maxlength="60"/>
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<input type="text" placeholder="Fecha de oficio" class="form-control rounded-0" id="fecha_oficio" name="fecha_oficio" disabled maxlength="60">
			</div>
			<div class="col-xs-12 col-sm-4 text-left pt-1">
				<label>Adjuntar Documento: 
					<input type="file" id="fileautoridad" class="form-control" name="file[]"  multiple/>
					<div class='alert alert-warning alert-dismissible fade show' role='alert'><strong id="textArchivoFile"></strong>
						<button type='button' class='close' data-dismiss='alert' id="btnQuitararchivo" name="btnQuitararchivo"  aria-label='Close'>
								<span aria-hidden='true'>&times;</span>
						</button>
					</div>
				</label>
			</div>
		</div>	
		<br>
		<div class="row" id="section-datos-auspicio" style="display: none;">
			<div class="col-xs-12 col-sm-12 text-left pt-4 w-100">
				<u>Datos del Auspiciador</u>
			</div>
			<div class="section-auspicio-item row" style="padding-left: 10px;">
				<input type="hidden" name="idauspiciador1" id="idauspiciador1" value="0"/>
				<!--<div class="col-xs-12 col-sm-4 text-left pt-1">
					<select class="form-control" id="tipocodauspiciador1" name="tipocodauspiciador1">
						<option value="0">Tipo de documento</option>
					    <option th:each="len:${tipodocaus}" th:value="${len.id}" th:utext="${len.descripcion}"/>
					</select>
				</div>-->
				<div class="col-xs-12 col-sm-4 text-left pt-1">
					<input type="text" name="descripcionauspiciador1" id="descripcionauspiciador1" class="form-control" placeholder="Descripcion" maxlength="60"/>
				</div>
				<div class="col-xs-12 col-sm-4 text-left pt-1">
					<input type="text" name="cantidadauspiciador1" id="cantidadauspiciador1" class="form-control" placeholder="Cantidad" onKeyPress="return filterIntInput(event,this)" maxlength="10"/>
				</div>
				<div class="col-xs-12 col-sm-4 text-left pt-1">
					<input type="text" name="montounitarioauspiciador1" id="montounitarioauspiciador1" class="form-control" placeholder="Monto Unitario" onKeyPress="return filterFloat(event,this)" maxlength="60"/>
				</div>
				<div class="col-xs-12 col-sm-4 text-left pt-1">
					<input type="text" name="montototalauspiciador1" id="montototalauspiciador1" class="form-control" placeholder="Monto Total" disabled onKeyPress="return filterFloat(event,this)" value="0" maxlength="60"/>
				</div>
				<div class="col-xs-12 col-sm-4 text-left section-botones-aus-1">
					<input type="image" id="btnAgregarAuspiciador" name="btnAgregarAuspiciador" src="./images/svg/add-regular.svg" class="btn btn-primary" width="45px"/>
				</div>
			</div>
		</div>
		<br>
		<div class="row section-datos-auspicio" style="display:none;">
			<div class="col-xs-12 col-sm-9 text-right pt-1">
				<label>Total 
					<input type="text" id="montototalform" name="montototalform" class="form-control" disabled/>
				</label>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12 col-sm-6 text-right">
				<input type="button" id="btncancelRegistro" name="btncancelRegistro" class="btn btn-danger" value="Cancelar" />
			</div>
			<div class="col-xs-12 col-sm-6 text-left">
				<input type="button" id="btnaceptarRegistro" name="btnaceptarRegistro" class="btn btn-primary" value="Registrar" />
			</div>
		</div>
	</form>

	<div class="modal" tabindex="-1" role="dialog" id="modalimagencargando">
	  <center>
	  	<img th:src="@{./images/cargando.gif}" style="line-height: 200px;"/>
	  </center>	  
	</div>
	<div class="modal" tabindex="-1" role="dialog" id="modalerror">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <img th:src="@{./images/imagen_informacion11.png}"/>&nbsp;&nbsp;
	      </div>
	      <div class="modal-body" id="textoerror">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger rounded-0" id="btncerrarmensajeerror" name="btncerrarmensajeerror">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>	
</body>
</html>

<script type="text/javascript">
$(document).ready(function(){
	setTimeout(function(){ sumarTotal(); }, 100);
});
</script>

