<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
<head>
    <title>ProgramaEducativo</title>
    <meta charset="UTF-8" />   
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="../static/css/bootstrapv4.3.1-14.css" rel="stylesheet" th:href="@{/css/bootstrapv4.3.1-14.css}" >
    <link href="../static/css/bootstrap-select.min.css" rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}" >    
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style_validator.css}">
    <link rel="stylesheet" href="../static/css/style_validator.css" th:href="@{/css/style_validator.css}">
    <link rel="stylesheet" href="../static/css/jquery-ui.css" th:href="@{/css/jquery-ui.css}">
    
    <script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/js/bootstrapv4.js"></script>
    <script src="/js/jquery.form.js" type="text/javascript"></script>
	<script src="/js/jquery.validate.js" type="text/javascript"></script> 
    <script type="text/javascript" src="/js/fontawesomev5.0.6.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/inicio.js"></script>    	
	
</head>
<body class="bg-light">	
	<div class="alert alert-success" id="alert" style="display: none;">&nbsp;</div>
	<form id="contact-form" method="post">
	<div class="container">				
		<div class="pl-1 pt-2 pb-2 bg-white">
			<div class="row">
				<div class="col-xs-9 col-sm-9">
					<strong class="text-primary">Registro en el Programa Educativo "Aprendiendo a usar responsablemente el agua potable"</strong>
				</div>
				<div class="col-xs-3 col-sm-3">
					<div class="pr-0" role="alert" id="divmsjSistemaEducativoFormAdd">
					  <small id="statusMsg"></small>
					</div> 
				</div>
			</div>
		</div>		
		<div class="accordion rounded-0" id="accordionExample" >
		  <div class="card rounded-0">
		    <div class="card-header" id="datinseduc">
		      <h2 class="mb-0">
		        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          <strong class="text-white">A. Datos de la Institución Educativa</strong>
		        </button>
		      </h2>
		    </div>
		    
		    <div id="collapseOne" class="collapse show" aria-labelledby="datinseduc" >
		      <div class="card-body">
		        	<div class="row">		        		
		        		<div class="col-xs-12 col-sm-6 col-md-4 pt-2">		        			
	        				<label for="">Código local I.E.</label>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<img src="./images/search-solid.svg" style="width:20px"/>
									</div>
								</div>
								<div class="ui-widget">
									<input type="text" id="codmod" name="codmod" class="ui-autocomplete-input form-control" onKeyPress="return filterInt(event,this)">
								</div>
							</div>
		        		</div>
		        		<div class="col-xs-12 col-sm-6 col-md-4 pt-2">
		        			<label>Nombre de la IE</label>
		        			<input type="text" class="form-control" id="nomie" name="nomie"/>
		        		</div>
		        		<div class="col-xs-12 col-sm-6 col-md-4 pt-2">
		        			<label>Tipo I.E</label>
		        			<select class="form-control" id="tipoieid" name="tipoieid">
		        				<option value="">Seleccione</option>
		        				<option th:each="t:${tipoie}" th:value="${t.id}" th:utext="${t.descripcion}"/>
		        			</select>
		        		</div>
		        		<div class="col-xs-12 col-sm-6 col-md-4 pt-2">
		        			<label>Departamento</label>
		        			<select class="form-control" id="departamentoid" name="departamentoid">
		        				<option value="">Seleccione</option>	
		        				<option th:each="depa:${departamento}" th:value="${depa.id}" th:utext="${depa.descripcion}"/>		        				
		        			</select>
		        		</div>
		        		<div class="col-xs-12 col-sm-6 col-md-4 pt-2">
		        			<label>Provincia</label>
		        			<select class="form-control" id="provinciaid" name="provinciaid">
		        			</select>
		        		</div>
		        		<div class="col-xs-12 col-sm-6 col-md-4 pt-2">
		        			<label>Distrito</label>
		        			<select class="form-control" id="distritoid" name="distritoid">
		        			</select>
		        		</div>
		        		<div class="col-xs-12 col-sm-6 col-md-4 pt-2">
		        			<label for="">Dirección</label>			
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<img src="./images/map-marker-alt-solid.svg"/>
									</div>
								</div>
								<input type="text" class="form-control" id="dirie" name="dirie">
							</div>
		        		</div>
		        		<div class="col-xs-12 col-sm-6 col-md-4 pt-2">
		        			<label>DRE</label>
		        			<input type="text" class="form-control" id="dre" name="dre"/>		
		        		</div>
		        		<div class="col-xs-12 col-sm-6 col-md-4 pt-2">
		        			<label>Ugel</label>
		        			<input type="text" class="form-control" id="ugel" name="ugel"/>		
		        		</div>
		        		<div class="col-xs-12 col-sm-6 col-md-4 pt-2">
		        			<label for="">Teléfono</label>			
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<img src="./images/phone-square-alt-solid.svg" style="width:20px"/>
									</div>
								</div>
								<input type="text" class="form-control" id="telfie" name="telfie" onKeyPress="return filterInt(event,this)" maxlength="10">
							</div>
		        		</div>
		        		<div class="col-xs-12 col-sm-6 col-md-4 pt-2">
		        			<label for="">Correo Institucional</label>			
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<img src="./images/envelope-solid.svg" style="width:20px"/>
									</div>
								</div>
								<input type="text" class="form-control" id="mailie" name="mailie" onfocusout="validarEmail('mailie','Correo institucional incorrecto')">
							</div>								
		        		</div>
		        		<div class="col-xs-12 col-sm-6 col-md-4 pt-2">
		        			<label for="">Link de facebook</label>			
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<img src="./images/facebook-square-brands.svg" style="width:20px"/>										
									</div>
								</div>
								<input type="text" class="form-control" id="facebook" name="facebook">
							</div>	
		        		</div>
		        		<div class="col-xs-12 col-sm-6 col-md-4 pt-2">
		        			<label>Lengua/dialécto</label>
		        			<select class="form-control" name="lengua" id="lengua">
		        				 <option value="">Seleccione</option>
		                         <option th:each="len:${lengua}" th:value="${len.id}" th:utext="${len.descripcion}"/>
		                  </select>
		        		</div>
		        	</div>
		        	<br>
		        	<div class="row">
			        	<div class="col-xs-12 col-sm-12 pt-2">
							<div class="table-responsive-sm">
								<table class="table">
								  <thead>
								    <tr>
								      <th scope="col">Ámbito</th>
								      <th scope="col">Modalidad de enseñanza</th>
								      <th scope="col">Género</th>
								      <th scope="col">Turno</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr>
								      <td>
								      	<div class="form-check">
										  <input class="form-check-input" type="radio" name="ambradio" id="ambradio1" value="1">
										  <label class="form-check-label" for="ambradio1">Urbano</label>
										</div>
								      </td>
								      <td>
								      	<div class="form-check">
										  <input class="form-check-input" type="radio" name="modensradio" id="modensradio1" value="1">
										  <label class="form-check-label" for="modensradio1">Educación Básica Regular</label>
										</div>
								      </td>
								      <td>
								      	<div class="form-check">
										  <input class="form-check-input" type="radio" name="genradio" id="genradio1" value="1">
										  <label class="form-check-label" for="genradio1">Varones</label>
										</div>
								      </td>
								      <td>
								      	<div class="form-check">
										  <input class="form-check-input" type="checkbox" value="1" id="turradio1">
										  <label class="form-check-label" for="turradio1">Mañana</label>
										</div>
								      </td>
								    </tr>
								    <tr>
								      <td>
								      	<div class="form-check">
									      	<input class="form-check-input" type="radio" name="ambradio" id="ambradio2" value="2">
										    <label class="form-check-label" for="ambradio2">Rural</label>
									    </div>
								      </td>
								      <td>
								      	<div class="form-check">
								      	  <input class="form-check-input" type="radio" name="modensradio" id="modensradio2" value="option1">
										  <label class="form-check-label" for="modensradio2">Educación Alternativa</label>
										</div>
								      </td>
								      <td>
								      	<div class="form-check">
										  <input class="form-check-input" type="radio" name="genradio" id="genradio2" value="2">
										  <label class="form-check-label" for="genradio2">Mujeres</label>
										</div>
								      </td>
								      <td>
								      	<div class="form-check">
										  <input class="form-check-input" type="checkbox" value="2" id="turradio2">
										  <label class="form-check-label" for="turradio2">Tarde</label>
										</div>
								      </td>
								    </tr>
								    <tr>
								      <td>
								      	<div class="form-check">
										  <input class="form-check-input" type="radio" name="ambradio" id="ambradio3" value="3">
										  <label class="form-check-label" for="ambradio3">Pequeña Ciudad</label>
										</div>
								      </td>
								      <td>
								      	<div class="form-check">
										  <input class="form-check-input" type="radio" name="modensradio" id="modensradio3" value="option2">
										  <label class="form-check-label" for="modensradio3">Educación Especial</label>
										</div>
								      </td>
								      <td>
								      	<div class="form-check">
										  <input class="form-check-input" type="radio" name="genradio" id="genradio3" value="3">
										  <label class="form-check-label" for="genradio3">Mixto</label>
										</div>
								      </td>
								      <td>
								      	<div class="form-check">
										  <input class="form-check-input" type="checkbox" value="3" id="turradio3">
										  <label class="form-check-label" for="turradio3">Noche</label>
										</div>
								      </td>
								    </tr>
								  </tbody>
								</table>
							</div>
						</div>						
		        	</div>
		        	<br>
		        	<div class="row">
		        	<div class="col-xs-12 col-sm-12 pt-2">
						<div class="table-responsive-sm">
							<table class="table">
							  <thead>
							    <tr>
							      <th scope="col">Nivel</th>
							      <th scope="col">Nº Secciones</th>
							      <th scope="col">Nº docentes</th>
							      <th scope="col">Nº Alumnos</th>
							      <th scope="col">Nº varones</th>
							      <th scope="col">Nº mujeres</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr>
							      <td>
							      	<div class="form-check">
									  <input class="form-check-input" type="checkbox" value="1" id="nini" name="nini">
									  <label class="form-check-label" for="nini">Inicial</label>
									</div>
							      </td>
							      <td><input class="form-control" type="text" value="0" id="nseci" name="nseci" onKeyPress="return filterInt(event,this)" maxlength="2"></td>
							      <td><input class="form-control" type="text" value="0" id="ndoci" name="ndoci" onKeyPress="return filterInt(event,this)" maxlength="2"></td>
							      <td><input class="form-control" type="text" value="0" id="nalui" name="nalui" onKeyPress="return filterInt(event,this)" maxlength="2"></td>
							      <td><input class="form-control" type="text" value="0" id="nvari" name="nvari" onKeyPress="return filterInt(event,this)" onfocusout="totalNivel()" maxlength="2"></td>
							      <td><input class="form-control" type="text" value="0" id="nmuji" name="nmuji" onKeyPress="return filterInt(event,this)" onfocusout="totalNivel()" maxlength="2"></td>
							    </tr>
							    <tr>
							      <td>
							      	<div class="form-check pt-3">
									  <input class="form-check-input" type="checkbox" value="2" id="ninp" name="ninp">
									  <label class="form-check-label" for="ninp">Primaria</label>
									</div>
							      </td>
							      <td><input class="form-control" type="text" value="0" id="nsecp" name="nsecp" onKeyPress="return filterInt(event,this)" maxlength="2"></td>
							      <td><input class="form-control" type="text" value="0" id="ndocp" name="ndocp" onKeyPress="return filterInt(event,this)" maxlength="2"></td>
							      <td><input class="form-control" type="text" value="0" id="nalup" name="nalup" onKeyPress="return filterInt(event,this)" maxlength="2"></td>
							      <td><input class="form-control" type="text" value="0" id="nvarp" name="nvarp" onKeyPress="return filterInt(event,this)" onfocusout="totalNivel()"  maxlength="2"></td>
							      <td><input class="form-control" type="text" value="0" id="nmujp" name="nmujp" onKeyPress="return filterInt(event,this)" onfocusout="totalNivel()"  maxlength="2"></td>
							    </tr>
							    <tr>
							      <td>
							      	<div class="form-check pt-3">
									  <input class="form-check-input" type="checkbox" value="3" id="nins" name="nins">
									  <label class="form-check-label" for="nins">Secundaria</label>
									</div>
							      </td>
							      <td><input class="form-control" type="text" value="0" id="nsecs" name="nsecs" onKeyPress="return filterInt(event,this)" maxlength="2"></td>
							      <td><input class="form-control" type="text" value="0" id="ndocs" name="ndocs" onKeyPress="return filterInt(event,this)" maxlength="2"></td>
							      <td><input class="form-control" type="text" value="0" id="nalus" name="nalus" onKeyPress="return filterInt(event,this)" maxlength="2"></td>
							      <td><input class="form-control" type="text" value="0" id="nvars" name="nvars" onKeyPress="return filterInt(event,this)" onfocusout="totalNivel()"  maxlength="2"></td>
							      <td><input class="form-control" type="text" value="0" id="nmujs" name="nmujs" onKeyPress="return filterInt(event,this)" onfocusout="totalNivel()"  maxlength="2"></td>
							    </tr>
							    <tr>
							    	<td>&nbsp;</td>
							    	<td>&nbsp;</td>
							    	<td>&nbsp;</td>
							    	<td>&nbsp;</td>
							    	<td>
							    		<label id="lblTotalVarones"></label>
							    	</td>
							    	<td>
							    		<label id="lblTotalMujeres"></label>
							    	</td>
							    </tr>
							  </tbody>
							</table>
						</div>
					</div>
		        	</div>
		      </div>
		   </div>
		  </div>
		  	
		  <div class="card">
		    <div class="card-header" id="seragupot">
		      <h2 class="mb-0">
		        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
		          <strong>B. Servicio de Agua Potable</strong>
		        </button>
		      </h2>
		    </div>
		    
		    <div id="collapseTwo" class="collapse show" aria-labelledby="seragupot" >
		      <div class="card-body">
		       	<div  class="row">
		       		<div class="col-xs-12 col-sm-6 col-md-4 pt-2">
		       			<label>Proveedor de servicio</label>
		       			<select class="form-control" id="proveedor" name="proveedor">
		       				<option value="">Seleccione</option>
		       				<option th:each="p:${proveedor}" th:value="${p.id}" th:utext="${p.descripcion}"/>
		       			</select>
		       		</div>	
		       	</div>
		       	<div class="row">	       		
		       		<div class="col-xs-12 col-sm-6 col-md-4 pt-2" id="seragupotsuministro" name="seragupotsuministro">
		       			<label>Nº suministro</label>
		       			<input type="text" class="form-control d-block" id="suministro" name="suministro" onKeyPress="return filterInt(event,this)"/>
		       			<label class="text-primary" style="cursor:pointer" id="btn_agregarsuministro">+ Agregar suministro</label>
		       			<div id="agregarsuministro" ></div>
		       		</div>		       		
		       		<div class="col-xs-12 col-sm-6 col-md-4 pt-2">
		       			<label>Horas de abastecimiento de agua</label>
		       			<select class="form-control" id="abastecimiento" name="abastecimiento">
		       				<option value="">Seleccione</option>
							<option value="0">0</option>
		       				<option value="1">1</option>
		       				<option value="2">2</option>
		       				<option value="3">3</option>
		       				<option value="4">4</option>
		       				<option value="5">5</option>
		       				<option value="6">6</option>
		       				<option value="7">7</option>
		       				<option value="8">8</option>
		       				<option value="9">9</option>
		       				<option value="10">10</option>
		       				<option value="11">11</option>
		       				<option value="12">12</option>
		       				<option value="13">13</option>
		       				<option value="14">14</option>
		       				<option value="15">15</option>
		       				<option value="16">16</option>
		       				<option value="17">17</option>
		       				<option value="18">18</option>
		       				<option value="19">19</option>
		       				<option value="20">20</option>
		       				<option value="21">21</option>
		       				<option value="22">22</option>
		       				<option value="23">23</option>
		       				<option value="24">24</option>
		       			</select>
		       		</div>
		       		<div class="col-xs-12 col-sm-6 col-md-4 pt-2">
		       			<center>
		       			<label>¿Cuenta con piscina? <img src="./images/tint-solid.svg" style="width:12px"/></label><br>	
		       			<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="piscina" id="piscina1" value="1">
						  <label class="form-check-label" for="piscina1">Si</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="piscina" id="piscina0" value="0">
						  <label class="form-check-label" for="piscina0">No</label>
						</div>
						</center>
		       		</div>
		       	</div>
		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" id="datdirgen">
		      <h2 class="mb-0">
		        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTree" aria-expanded="true" aria-controls="collapseOne">
		          <strong>C. Datos del Director General</strong>
		        </button>
		      </h2>
		    </div>
		    
		    <div id="collapseTree" class="collapse show" aria-labelledby="datdirgen" >
		      <div class="card-body">
		       	<div  class="row">
		       		<div class="col-xs-12 col-sm-6 col-md-3 pt-2">
		       			<label>Tipo de documento de identidad</label>
		       			<select class="form-control"  id="tipodocdir" name="tipodocdir">
		       				<option value="">Seleccione</option>
		       				<option th:each="td:${tipodoc}" th:value="${td.id}" th:utext="${td.descripcion}"/>
		       			</select>
		       		</div>		       		
		       		<div class="col-xs-12 col-sm-6 col-md-3 pt-2">
		       			<label>Nº de documento de identidad</label>
		       			<input type="text" class="form-control" id="docdir" name="docdir" onKeyPress="return filterIntNroDocIdentidadDirector(event,this)" onfocusout="validarCantidadDigitos('docdir','N° de caracteres incorrectos en Documento Identidad del Director')">
		       		</div>		       		
		       		<div class="col-xs-12 col-sm-6 col-md-3 pt-2">
		       			<label>Apellidos</label>
		       			<input type="text" class="form-control" id="apedir" name="apedir" onKeyPress="return filterCadena(event,this)"/>
		       		</div>
		       		<div class="col-xs-12 col-sm-6 col-md-3 pt-2">
		       			<label>Nombres</label>
		       			<input type="text" class="form-control" id="nomdir" name="nomdir" onKeyPress="return filterCadena(event,this)"/>
		       		</div>
		       		<div class="col-xs-12 col-sm-6 col-md-3 pt-2">
		       			<label for="">Teléfono</label>			
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<img src="./images/phone-square-alt-solid.svg" style="width:20px" />
								</div>
							</div>
							<input type="text" class="form-control" id="telfdir" name="telfdir" onKeyPress="return filterInt(event,this)" maxlength="12"/>
						</div>						
		       		</div>		       		
		       		<div class="col-xs-12 col-sm-6 col-md-3 pt-2">
		       			<label for="">Celular</label>			
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<img src="./images/mobile-alt-solid.svg" style="width:15px" onKeyPress="return filterInt(event,this)" maxlength="9"/>
								</div>
							</div>
							<input type="text" class="form-control" id="celdir" name="celdir" maxlength="9" onKeyPress="return filterInt(event,this)">
						</div>		
		       		</div>
		       		<div class="col-xs-12 col-sm-6 pt-2">
		       			<label for="">Correo electrónico</label>
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<img src="./images/envelope-solid.svg" style="width:20px"/>
								</div>
							</div>
							<input type="text" class="form-control" id="maildir" name="maildir" onfocusout="validarEmail('maildir','Correo electrónico del Director es incorrecto')">
						</div>						
		       		</div>
		       	</div>
		      </div>
		    </div>
		    
		  </div>
		  <div class="card">		    
		    <div class="card-header" id="datpro">
		      <h2 class="mb-0">
		        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
		          <strong>D. Datos del Profesor(es) asignado como contacto para las actividades</strong> 
		        </button>
		      </h2>
		    </div>
		    <div id="collapseFour" class="collapse show" aria-labelledby="datpro">
		      <div class="card-body">
		       	<div  class="row">
		       		<div class="col-xs-12 col-sm-6 col-md-3 pt-2">
		       			<label>Tipo de documento de identidad</label>
		       			<select class="form-control" id="tipodocprof" name="tipodocprof">
		       				<option value="">Seleccione</option>
		       				<option th:each="td:${tipodoc}" th:value="${td.id}" th:utext="${td.descripcion}"/>
		       			</select>
		       		</div>		       		
		       		<div class="col-xs-12 col-sm-6 col-md-3 pt-2">
		       			<label>Nº de documento de identidad</label>
		       			<input type="text" class="form-control" id="docprof" name="docprof" onKeyPress="return filterIntNroDocIdentidadProfesor(event,this)" onfocusout="validarCantidadDigitos('docprof','N° de caracteres incorrectos en Documento Identidad del Profesor')">
		       		</div>		       		
		       		<div class="col-xs-12 col-sm-6 col-md-3 pt-2">
		       			<label>Apellidos</label>
		       			<input type="text" class="form-control" id="apeprof" name="apeprof" onKeyPress="return filterCadena(event,this)"/>
		       		</div>
		       		<div class="col-xs-12 col-sm-6 col-md-3 pt-2">
		       			<label>Nombres</label>
		       			<input type="text" class="form-control" id="nomprof" name="nomprof" onKeyPress="return filterCadena(event,this)"/>
		       		</div>
		       		<div class="col-xs-12 col-sm-6 col-md-3 pt-2">
		       			<label for="">Teléfono</label>			
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<img src="./images/phone-square-alt-solid.svg" style="width:20px" >
								</div>
							</div>
							<input type="text" class="form-control" id="telfprof" name="telfprof" maxlength="12" onKeyPress="return filterInt(event,this)">
						</div>	
		       		</div>		       		
		       		<div class="col-xs-12 col-sm-6 col-md-3 pt-2">
		       			<label for="">Celular</label>			
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<img src="./images/mobile-alt-solid.svg" style="width:15px" />
								</div>
							</div>
							<input type="text" class="form-control" id="celprof" name="celprof" onKeyPress="return filterInt(event,this)" maxlength="9">
						</div>	
		       		</div>
		       		<div class="col-xs-12 col-sm-6 pt-2">
		       			<label for="">Correo electrónico</label>			
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<img src="./images/envelope-solid.svg" style="width:20px"/>
								</div>
							</div>
							<input type="text" class="form-control" id="mailprof" name="mailprof" onfocusout="validarEmail('mailprof','Correo electrónico del Profesor es incorrecto')">
						</div>	
		       		</div>
		       	</div>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="pt-3 pb-3">
			<div class="form-group">
			<!--input class="btn btn-primary float-right ml-2 pl-2 rounded-0" type="button" value="Registrar" id="btnregistrarprogeduc"-->
			<input class="btn btn-primary submit" type="submit" value="Enviar" id="btnregistrarprogeduc"/>
			</div>
			<input class="btn btn-outline-primary float-right pr-2 mr-2 rounded-0" type="button" value="Cancelar">
		</div>
		<br><br>
	</div>	
	
	
	</form>
	
	<div class="modal" tabindex="-1" role="dialog" id="modalcargando">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title"><label class="text-primary">Confirmación del registro al programa educativo</label></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        ¿Está seguro que desea registrar los datos ingresados?
	      </div>
	      <div class="modal-footer">
	        <input class="btn btn-outline-primary rounded-0" type="button" value="Cancelar" id="btncancelarprogeduc" name="btncancelarprogeduc">
	        <input class="btn btn-primary rounded-0" type="button" value="Aceptar" id="btnconfirmarprogeduc" name="btnconfirmarprogeduc">
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal fade bd-example-modal-lg" tabindex="-2" role="dialog" id="modalpostular">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-body p-0">
	      	<center>
	      		<img src="/images/svg/check-circle-solid.svg" style="width:35px; color:blue">
	      		<div class="p-2"><strong>Se registró correctamente en el Programa Educativo</strong></div>
	      	</center>
	        <div class="bg-primary text-white p-2">
	        	<center><h3 class="pb-2">¿Postular al concurso del Programa Educativo?</h3></center>
	        	<center><label class="p-2">CONDICIONES GENERALES DE POSTULACIÓN</label></center>
	        	<ul>
	        		<li>Ser una Institución Educativa pública o privada en las modalidades de Educación Básica Regular, Educación Básica Alternativa y Educación Básica Especial.</li>
	        		<li>La institución Educativa sólo postulará con una propuesta integral a nivel de centro educativo, no por nivel educativo y participará solo en una categoria.</li>
	        		<li>Completar los datos de inscripción adjuntando el documento con la firma y sello del Director General de la Institución Educativa.</li>	        		
	        	</ul>
	        	<label>Las Instituciones Educativas pueden presentar sus postulaciones en las siguientes categorias.</label>
		       	<div class="row mr-1 ml-1">
		       		<div class="col-xs-6 col-sm-6">
		       			<input type="checkbox" id="cat1" class="form-check-input">
		       			<label for="cat1"><strong>Categoria 1: </strong>Proyecto Innovador</label>
		       		</div>
		       		<div class="col-xs-6 col-sm-6">
		       			<input type="checkbox" id="cat3" class="form-check-input">
		       			<label for="cat3"><strong>Categoria 3: </strong>Acciones de Comunicación y Sensibilización</label>
		       		</div>
		       		<div class="col-xs-6 col-sm-6">
		       			<input type="checkbox" id="cat2" class="form-check-input">
		       			<label for="cat2"><strong>Categoria 2: </strong>Experiencia Exitosa</label>
		       		</div>
		       		<div class="col-xs-6 col-sm-6">
		       			<input type="checkbox" id="cat4" class="form-check-input">
		       			<label for="cat4"><strong>Categoria 4:</strong>Máster impacto y sostenibilidad</label>
		       		</div>	       		
		       	</div>	        	
	       	</div>
	      </div>
	      <div class="modal-footer">	        
	        <input class="btn btn-outline-primary" type="button" data-dismiss="modal" value="Salir" id="btnsalirpostulacion" name="btnsalirpostulacion">
	        <input class="btn btn-primary" type="button" data-dismiss="modal" value="Postular" id="btnpostular" name="btnpostular">
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal" tabindex="-1" role="dialog" id="modalmensajexito">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title"><label class="text-primary">Registro exitoso</label></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" id="textoenviocorreo">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary rounded-0" id="btncerrarmensajeexito" name="btncerrarmensajeexito">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal" tabindex="-1" role="dialog" id="modalimagencargando">
	  <center>
	  	<img src="/images/cargando.gif" style="line-height: 200px;"/>
	  </center>	  
	</div>	
	
</body>
</html>

