<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />

<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
<link rel="stylesheet" href="../static/css/nuevo_disenio.css" th:href="@{/css/nuevo_disenio.css}">
<link href="../static/css/gijgo.min.css" rel="stylesheet" th:href="@{/css/gijgo.min.css}" >


<link href="../static/css/font-awesome.min.css" rel="stylesheet" th:href="@{/css/font-awesome.min.css}" >

<script type="text/javascript" th:src="@{/js/gijgo.min.js}" ></script>
<script type="text/javascript" th:src="@{/js/messages.es-es.js}"></script>
<script type="text/javascript" th:src="@{/js/datetime-moment-order.js}"></script>
<script type="text/javascript" th:src="@{/js/moment.js}"></script>

<script type="text/javascript" th:src="@{/js/date-uk.js}"></script>
<script type="text/javascript" th:src="@{/js/date-euro.js}"></script>

<script type="text/javascript" th:src="@{/js/bootstrapv4.js}" ></script>
<style>

	.excelHtml5{
		float:left;
	}
	
	.rs_concurso_educativo{
		  /*width:33%;*/
		  float:left;
		  text-align:center;
		  display: inline-flex;
		  vertical-align: middle;
		  padding: 0.375rem 0.75rem;
		  font-size: 0.75rem;
		  line-height: 1.5;
		  justify-content: left;
	}
	
	.rs_alianza_estrategica{
		  /*width:33%;*/
		  float:left;
		  text-align:center;
		  display: inline-flex;
		  vertical-align: middle;
		  padding: 0.375rem 0.75rem;
		  font-size: 0.75rem;
		  line-height: 1.5;
		  justify-content: left;
	}
	
	.rs_asignacion {
		  /*width:33%;*/
		  float:left;
		  text-align:center;
		  display: inline-flex;
		  vertical-align: middle;
		  padding: 0.375rem 0.75rem;
		  font-size: 0.75rem;
		  line-height: 1.5;
		  justify-content: left;
	}
</style>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist" style="padding-left:30px;padding-right:30px">
    <a class="nav-item nav-link active" id="nav-concursoeducativo-tab" data-toggle="tab" href="#nav-concursoeducativo" role="tab" aria-controls="nav-concursoeducativo" aria-selected="true">Concurso educativo</a>
    <a class="nav-item nav-link" id="nav-alianzaestrategica-tab" data-toggle="tab" href="#nav-alianzaestrategica" role="tab" aria-controls="nav-alianzaestrategica" aria-selected="false">Alianza estrategica</a>
    <a class="nav-item nav-link" id="nav-asignacion-tab" data-toggle="tab" href="#nav-asignacion" role="tab" aria-controls="nav-asignacion" aria-selected="false">Asignación</a>
    <a class="nav-item nav-link" id="nav-ganadoresregionales-tab" data-toggle="tab" href="#nav-ganadoresregionales" role="tab" aria-controls="nav-ganadoresregionales" aria-selected="false">Ganadores Regionales</a>
    <a class="nav-item nav-link" id="nav-concursonacional-tab" data-toggle="tab" href="#nav-concursonacional" role="tab" aria-controls="nav-concursonacional" aria-selected="false">Concurso Nacional</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  	<div class="tab-pane fade show active" id="nav-concursoeducativo" role="tabpanel" aria-labelledby="concursoeducativo-tab">
  		<div id="containerListaRegistros" class="pl-3 pr-3 pt-2">		  		
			<div class="div_filtro">
				<div class="row pt-2 m-0">			
					<div class="col-xs-4 col-sm-3">
						<select class="form-control" id="odsconcurso" name="odsconcurso">
							<option value="Todos">ODS</option>			
							<option th:each="dato:${ods}" th:value="${dato.descripcion}" th:utext="${dato.descripcion}"/>   				    				
						</select>
					</div>
					<div class="col-xs-4 col-sm-3">
						<select class="form-control" id="anioconcurso" name="anioconcurso">
							<option value="Todos">Año</option>
							<option th:each="dato:${anios}" th:value="${dato}" th:utext="${dato}"/>
						</select>
					</div>
					<div class="col-xs-4 col-sm-3">
						<select class="form-control" id="modalidadconcurso" name="modalidadconcurso">
							<option value="Todos">Modalidad</option>	
							<option th:each="dato:${modalidadtrabajo}" th:value="${dato.descripcion}" th:utext="${dato.descripcion}"/>						
						</select>
					</div>
					<div class="col-xs-12 col-sm-3">
						<select class="form-control" id="estadoconcurso" name="estadoconcurso">
							<option value="Todos">Estado</option> 
							<option th:each="dato:${listaestadoevaluacion}" th:value="${dato.descripcion}" th:utext="${dato.descripcion}"/>		
						</select>
					</div>
					<div class="col-xs-4 col-sm-3 pt-3">
						<select class="form-control" id="categoriaconcurso" name=""categoriaconcurso"">
							<option value="Todos">Categoria</option>
							<option th:each="dato:${categoriatrabajo}" th:value="${dato.descripcion}" th:utext="${dato.descripcion}"/>			    				
						</select>
					</div>
					<div class="col-xs-4 col-sm-3 pt-3">
						<select class="form-control" id="participacionconcurso" name="participacionconcurso">
							<option value="Todos">Nivel de participación</option>
							<option th:each="dato:${nivelparticipacion}" th:value="${dato.descripcion}" th:utext="${dato.descripcion}"/>					       				
						</select>
					</div>
					<div class="col-xs-4 col-sm-3 pt-3">
						<input type="text" id="nombreieconcurso" name="nombreieconcurso" class="form-control" placeholder="Nombre de II.EE"/>
					</div>
					<div class="col-xs-12 col-sm-3 pt-3 text-right">
						<input type="image" id="btnbuscarconcurso"  src="./images/iconos_nd/botonbuscar.svg" width="125px" />
						<input type="image" id="btnlimpiarconcurso"  src="./images/iconos_nd/botonrefrescar.svg" width="32px"  />
					</div>
				</div>
			</div>
			<br>
			<div class="div_filtro">
				<div class="p-0 m-0">
					<div class="row pt-2 pb-4 m-0">
						<div class="col-xs-12 col-sm-12">
							<table id="table_lista_concurso"  class="table table-striped display nowrap" style="width:100%">
								<thead class="cabecera_tabla">
							        <tr>
							        	<th><input type="checkbox" id="seleccionarTodo"/></th>
							        	<th>Nº</th>
										<th>AÑO</th>
							            <th>CODIGO DE TRABAJO</th>
							            <th>ODS</th>
							            <th>CODIGO DE II.EE</th>
							            <th>NOMBRE DE II.EE</th>
							            <th>CATEGORIA</th>
							            <th>MODALIDAD</th>
							            <th>TITULO DEL TRABAJO</th>
							            <th>NIVEL DE PARTICIPACION</th>
							            <th>FICHA DE TRABAJO</th>
							            <th>EVIDENCIA</th>
							            <th>TRABAJOS</th>
							            <th>PERMISOS</th>
							            <th>ESTADO</th>
							            <th>DETALLE EVALUACION</th>
							            <th>CALIFICACION</th>
							            <th>PUESTO</th>
							        </tr>   
							    </thead>
							</table>
						</div>
						<br><br>
					</div>
				</div>
			</div>		  		
		</div>		
	</div>
	<div class="tab-pane fade" id="nav-alianzaestrategica" role="tabpanel" aria-labelledby="alianzaestrategica">
	  	<div id="containerListaRegistros" class="pl-3 pr-3 pt-2">
	  		<div class="div_filtro">
	  			<div class="row pt-2 m-0">
	  				<div class="col-xs-4 col-sm-2">
	  					<select class="form-control" id="odsalianza" name="odsalianza">
							<option value="Todos">ODS</option>			
							<option th:each="dato:${ods}" th:value="${dato.descripcion}" th:utext="${dato.descripcion}"/>   				    				
						</select>
	  				</div>
	  				<div class="col-xs-4 col-sm-2">
						<select class="form-control" id="anioalianza" name="anioalianza">
							<option value="Todos">Año</option>
							<option th:each="dato:${anios}" th:value="${dato}" th:utext="${dato}"/>
						</select>
					</div>
					<div class="col-xs-4 col-sm-2">
						<select class="form-control" id="rolentidadalianza" name="rolentidadalianza">
							<option value="Todos">Rol de la entidad</option>					       				
						</select>
					</div>
					<div class="col-xs-12 col-sm-2">
						<select class="form-control" id="estadoalianza" name="estadoalianza">
							<option value="Todos">Estado</option> 
							<option value="1">Activo</option> 
							<option value="0">Inactivo</option> 
						</select>
					</div>
					<div class="col-xs-12 col-sm-3 text-right">
						<input type="image" id="btnbuscaralianza"  src="./images/iconos_nd/botonbuscar.svg" width="125px"/>
						<input type="image" id="btnlimpiaralianza"  src="./images/iconos_nd/botonrefrescar.svg" width="32px"/>
					</div>
	  			</div>
	  		</div>
	  		<br>
	  		<div class="div_filtro">
				<div class="p-0 m-0">
					<div class="row pt-2 pb-4 m-0">
						<div class="col-xs-12 col-sm-12">
							<table id="table_lista_usuarios"  class="table table-striped display nowrap" style="width:100%">
								<thead class="cabecera_tabla">
							        <tr>
							        	<th><input type="checkbox" id="seleccionarTodo"/></th>
							        	<th>Nº</th>
										<th>AÑO</th>
							            <th>ODS</th>
							            <th>CATEGORIA</th>
							            <th>ENTIDAD</th>
							            <th>COMITE TECNICO</th>
							            <th>COMITE EVALUADOR</th>
							            <th>AUSPICIADOR</th>
							            <th>ALIADO</th>
							            <th>EDITAR</th>
							            <th>INACTIVAR</th>
							            <th style="display:none;">ESTADO</th>
							        </tr>   
							    </thead>
							</table>
						</div>
						<br><br>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 text-right">
					<input type="button" id="btnAgregarUsuario" name="btnAgregarUsuario" class="btn btn-primary text-right" value="Agregar"/>
				</div>
			</div>	 
	  	</div>
	</div>
	<div class="tab-pane fade" id="nav-asignacion" role="tabpanel" aria-labelledby="asignacion">
	  	<div id="containerListaRegistros" class="pl-3 pr-3 pt-2">		  		
			<div class="div_filtro">				
				<div class="row pt-2 m-0">			
					<div class="col-xs-4 col-sm-3">
						<select class="form-control" id="odsasignacion" name="odsasignacion">
							<option value="Todos">ODS</option>			
							<option th:each="dato:${ods}" th:value="${dato.descripcion}" th:utext="${dato.descripcion}"/>   				    				
						</select>
					</div>
					<div class="col-xs-4 col-sm-3">
						<select class="form-control" id="anioasignacion" name="anioasignacion">
							<option value="Todos">Año</option>
							<option th:each="dato:${anios}" th:value="${dato}" th:utext="${dato}"/>
						</select>
					</div>
					<div class="col-xs-4 col-sm-3 pt-1">
						<select class="form-control" id="categoriaasignacion" name="categoriaasignacion">
							<option value="Todos">Categoria</option>
							<option th:each="dato:${categoriatrabajo}" th:value="${dato.descripcion}" th:utext="${dato.descripcion}"/>			    				
						</select>
					</div>
					<div class="col-xs-4 col-sm-3">
						<select class="form-control" id="modalidadasignacion" name="modalidadasignacion">
							<option value="Todos">Modalidad</option>	
							<option th:each="dato:${modalidadtrabajo}" th:value="${dato.descripcion}" th:utext="${dato.descripcion}"/>						
						</select>
					</div>
					<div class="col-xs-4 col-sm-3 pt-3">
						<select class="form-control" id="nivelparticipacionasignacion" name="nivelparticipacionasignacion">
							<option value="Todos">Nivel de participación</option>
							<option th:each="dato:${nivelparticipacion}" th:value="${dato.descripcion}" th:utext="${dato.descripcion}"/>					       				
						</select>
					</div>
					<div class="col-xs-4 col-sm-3 pt-3">
						<select class="form-control" id="rolentidadasignacion" name="rolentidadasignacion">
							<option value="Todos">Rol de la entidad</option>					       				
						</select>
					</div>
					<div class="col-xs-4 col-sm-3 pt-3">
						<input type="text" class="form-control" name="nombreieasignacion" id="nombreieasignacion" placeholder="Nombre de la II.EE"/>
					</div>
					<div class="col-xs-12 col-sm-3 pt-3 text-right">
						<input type="image" id="btnbuscarasignacion"  src="./images/iconos_nd/botonbuscar.svg" width="125px" />
						<input type="image" id="btnlimpiarasignacion"  src="./images/iconos_nd/botonrefrescar.svg" width="32px"  />
					</div>
				</div>			
			</div>
			<br>
			<div class="div_filtro">
				<div class="p-0 m-0">
					<div class="row pt-2 pb-4 m-0">
						<div class="col-xs-12 col-sm-12">
							<table id="table_lista_asignacion"  class="table table-striped display nowrap" style="width:100%">
								<thead class="cabecera_tabla">
							        <tr>
							        	<th><input type="checkbox" id="seleccionarTodoListaAsignacion"/></th>
							        	<th>Nº</th>
										<th>AÑO</th>
							            <th>ODS</th>
							            <th>CODIGO DE LA II.EE</th>
							            <th>NOMBRE DE LA II.EE</th>
							            <th>CODIGO DE TRABAJO</th>
							            <th>CATEGORIA</th>
							            <th>MODALIDAD</th>
							            <th>NIVEL DE PARTICIPACION</th>
							            <th>ROL DE LA ENTIDAD</th>
							            <th>ENTIDAD</th>
							            <th>EVALUADOR ASIGNADO</th>
							        </tr>   
							    </thead>
							</table>
						</div>
						<br><br>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 text-right">
					<input type="button" id="btnasignar" name="btnasignar" class="btn btn-primary text-right" value="Asignar"/>
				</div>
			</div>
		</div>
	</div>  
	<div class="tab-pane fade" id="nav-ganadoresregionales" role="tabpanel" aria-labelledby="ganadoresregionales-tab">
	  	ganadoresregionales
	</div>
	<div class="tab-pane fade" id="nav-concursonacional" role="tabpanel" aria-labelledby="concursonacional-tab">
	  	concursonacional
	</div>
</div>

<center>
	<div class="modal fade" tabindex="-1" role="dialog" id="modalArchivosEvidencias" aria-labelledby="myLargeModalLabel" >
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content" style="overflow-y: scroll; height:350px; width:90%">
	      <div class="modal-header">
	        <strong class="pt-1">EVIDENCIAS</strong>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" id="contenidoEvidencias">
	      </div>
	    </div>
	  </div>
	</div>
</center>	

<center>
	<div class="modal fade" tabindex="-1" role="dialog" id="modalasignarevaluador" aria-labelledby="myLargeModalLabel" >
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content" style="overflow-y: scroll; height:750px; width:80%">
	      <div class="modal-header">
	        <strong class="pt-1">ASIGNAR EVALUADOR</strong>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" id="contenidoasignarevaluador">
	      </div>
	    </div>
	  </div>
	</div>
</center>

<center>
	<div class="modal fade" tabindex="-1" role="dialog" id="modalAlianzaEstrategica" aria-labelledby="myLargeModalLabel" >
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content" style="overflow-y: scroll; height:600px; width:80%">
	      <div class="modal-header">
	        <strong class="pt-1">ASIGNAR EVALUADOR</strong>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" id="contenidoAlianzaEstrategicar">
	      </div>
	    </div>
	  </div>
	</div>
</center>

<center>
	<div class="modal fade" tabindex="-1" role="dialog" id="modalArchivoTrabajo" aria-labelledby="myLargeModalLabel" >
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content" style="overflow-y: scroll; height:450px; width:70%">
	      <div class="modal-header">
	        <strong class="pt-1">TRABAJO</strong>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" id="contenidoTrabajo">
	      </div>
	    </div>
	  </div>
	</div>
</center>	

<div class="modal" tabindex="-1" role="dialog" id="modalerrorasignarevaluador">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img th:src="@{./images/imagen_informacion11.png}"/>&nbsp;&nbsp; <strong class="pt-1">Error</strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>	          
        </button>
      </div>
      <div class="modal-body" id="textoerrorasignarevaluador">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" id="btncerrarmensajeerrorasignarevaluador" name="btncerrarmensajeerrorasignarevaluador">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modalimagencargando">
  <center>
  	<img th:src="@{./images/cargando.gif}" style="line-height: 200px;"/>
  </center>	  
</div>		


</html>
<script type="text/javascript">
		
		var url_base = location.origin+"/";		
		var celdaseleccionada;
		var id;
		var table_lista_concurso, table_lista_asignacion;
		
		$(document).off("click",".btnInactivarUsuario");
		$(document).off("click",".btnEditarUsuario");
		
		$(document).ready(function(){	
			funcionesAlianza();
			$("#btnbuscarconcurso").click(function(){
	        	
	        	setTimeout(() => {        		  
	        		table_lista_concurso.draw();
	        	}, 100);	
			});
			
			$("#btnlimpiaralianza").on("click",function(){
				$('#odsalianza').val('Todos');
				$('#anioalianza').val('Todos');
				$('#rolentidadalianza').val('Todos');
				$('#estadoalianza').val('Todos');
				table_lista_usuarios.draw();
			});
			
			$('#seleccionarTodo').click(function(){
				if ($(this).is(":checked")) {
					table_lista_concurso.rows().select();        
			    }
				else{
					table_lista_concurso.rows().deselect(); 
			    }
            });	
			
			$("#btnlimpiarconcurso").click(function(){
				$("#odsconcurso").val("Todos");
				$("#anioconcurso").val("Todos");
				$("#modalidadconcurso").val("Todos");
				$("#estadoconcurso").val("Todos");
				$("#categoriaconcurso").val("Todos");
				$("#participacionconcurso").val("Todos");
				$("#nombreieconcurso").val("Todos");
				setTimeout(() => {        		  
					table_lista_concurso.draw();
		      	}, 100);
			});
			
			listar();
			listarasignacion();
			listarAlianzaEstrategica();
			
			$("#btnasignar").click(function(){
				
				$('#modalimagencargando').modal({
					show : true,
					backdrop : 'static',
					keyboard:false
				});
				
				$.ajax({
					type : "GET",
				    contentType : "application/json",
				    url : url_base + "pedesa/formasignarevaluador",
					success: function(respuesta) {
						$('#modalimagencargando').modal('hide');
						$("#contenidoasignarevaluador").html(respuesta);
						$('#modalasignarevaluador').modal({
							show : true,
							backdrop : 'static',
							keyboard:false
						});
					},
					error: function() {
						console.log("error al cargar modal asignar evaluador");
				    }
				});
			});
			
			$("#btnAgregarUsuario").on("click", function(){
				$.ajax({
					type : "GET",
				    contentType : "application/json",
				    url : url_base + "pedesa/formregistrarusuario",
					success: function(respuesta) {
						$("#contenidoAlianzaEstrategicar").html(respuesta);
						$('#modalAlianzaEstrategica').modal({
							show : true,
							backdrop : 'static',
							keyboard:false
						});
					},
					error: function() {
						console.log("error al cargar modal alianza estrategica");
				    }
				});
			});
			
			
			
		});		
		
		var listar = function(){
				
				$("#table_lista_concurso").dataTable().fnDestroy();				
			    
				table_lista_concurso = $('#table_lista_concurso').DataTable({
				"dom": '<"excelHtml5"B><"rs_concurso_educativo">frtip',
	            "scrollX": true,
	            "searching": true,
	            "lengthMenu": [
	                [ 10, 15, 25, -1 ],
	                [ '10 filas', '15 filas', '25 filas', 'Mostrar todas' ]
	            ],
	            "processing":true,
	            "language": {
	                buttons: {
	                  pageLength: 'Mostrar'
	                },
	                "decimal": "",
	                "emptyTable": "No hay información",
	                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
	                "infoEmpty": "Mostrando 0 a 0 de 0 Entradas",
	                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
	                "infoPostFix": "",
	                "thousands": ",",
	                "lengthMenu": "Mostrar _MENU_ Entradas",
	                "loadingRecords": "Cargando Registros...",
	                "processing": "Procesando...",
	                "search": "_INPUT_",
			        "searchPlaceholder": "Busqueda General",
	                "zeroRecords": "No existen registros",
	                "paginate": {
	                    "first": "Primero",
	                    "last": "Ultimo",
	                    "next": "Siguiente",
	                    "previous": "Anterior"
	                }
	            },
	            "ajax" : {
	                "url" : url_base + 'pedesa/listaconcurso',
	                "type" : "GET",
	                "dataSrc" : ""
	            },
	            "columns" : [
	            	{
	            		 "data":null, render:function(){return "";}
	            	},
	            	{	            	
	            		"data": null, "render": function (data, type, full, meta) { return meta.row + 1; }
	            	},
	            	{ 'data' : 'anio' },
	            	{ 'data' : 'codigotrabajo' },
	            	{ 'data' : 'ods' },
	            	{ 'data' : 'codigoie' },
	                { 'data' : 'nombreie' },
	                { 'data' : 'categoria' },
	            	{ 'data' : 'modalidad' },
	            	{ 'data' : 'titulotrabajo' },
	                { 'data' : 'nivelparticipacion' },
	                { 'defaultContent' : '<img src="./images/iconos_nd/pdf1.svg" class="fichatrabajo" style="width:20px; cursor:pointer"/>' },
	                { 'defaultContent' : '<img src="./images/svg/eye-solid.svg" class="evidencia" style="width:20px; cursor:pointer"/>' },
	                { 'defaultContent' : '<img src="./images/svg/eye-solid.svg" class="trabajo" style="width:20px; cursor:pointer"/>' },
	                { 'defaultContent' : '<img src="./images/svg/eye-solid.svg" class="permiso" style="width:20px; cursor:pointer"/>' },
	                { 'data' : 'estado' },
	                { 'defaultContent' : '<img src="./images/svg/eye-solid.svg" class="detalleevaluacion" style="width:20px; cursor:pointer"/>' },
	                { 'data' : 'calificacion' },
	                { 'data' : 'puesto'}
	            ],
	            columnDefs: [
	            	{
	                    orderable: false,
	                    className: 'select-checkbox',
	                    targets:   0
	                },
	                {
	            	      "targets": 11,
	            	      "className": "text-center"
	                },
	                {
	            	      "targets": 12,
	            	      "className": "text-center"
	                },
	                {
	            	      "targets": 13,
	            	      "className": "text-center"
	                },
	                {
	            	      "targets": 14,
	            	      "className": "text-center"
	                },
	                {
	            	      "targets": 16,
	            	      "className": "text-center"
	                }
	            ],
	            select: {
	                style:    'multi', 
	                selector: 'td:first-child'
	            },
	            "buttons": [
	            	{
	            		extend: 'excelHtml5',
	            		text:"<img src='./images/iconos_nd/excel1.svg' style='size:15px;margin:0px;padding:0px'/>",
	                    titleAttr : 'LISTA DE TRABAJOS FINALES - CONCURSO',
	                    messageTop: function(){
	                    	return '[ ODS: ' + $("#odsconcurso").val() + ']            [ Año de inscripción: '+ $("#anioconcurso").val() + ']';
	                    },
	                    filename : function(){
	                    	var hoy = new Date();
	                    	var dia = String(hoy.getDate());
	                    	if(dia.length==1){
	                    		dia = "0"+dia;
	                    	}
	                    	var mes = String(hoy.getMonth()+1);
	                    	if(mes.length==1){
	                    		mes = "0"+mes;
	                    	}
	                    	var hora = String(hoy.getHours());
	                    	if(hora.length==1){
	                    		hora = "0"+hora;
	                    	}
	                    	var minuto = String(hoy.getMinutes());
	                    	if(minuto.length==1){
	                    		minuto = "0"+minuto;
	                    	}
	            	    	return "Listatrabajosfinales_"+dia+mes+hoy.getFullYear()+'_'+hora + minuto;
	                    }
	            	}
	            ]
	        });
			$("div.rs_concurso_educativo").html("<strong>RESULTADOS CONCURSO EDUCATIVO</strong>");
			obtener_fichatrabajo("#table_lista_concurso tbody",table_lista_concurso);
			obtener_evidencia("#table_lista_concurso tbody",table_lista_concurso);
			obtener_trabajos("#table_lista_concurso tbody",table_lista_concurso);
		}
		
		var listarAlianzaEstrategica = function(){
				
				$("#table_lista_usuarios").dataTable().fnDestroy();				
			    
				table_lista_usuarios = $('#table_lista_usuarios').DataTable({
				"dom": '<"excelHtml5"B><"rs_alianza_estrategica">frtip',
	            "scrollX": true,
	            "searching": true,
	            "lengthMenu": [
	                [ 10, 15, 25, -1 ],
	                [ '10 filas', '15 filas', '25 filas', 'Mostrar todas' ]
	            ],
	            "processing":true,
	            "language": {
	                buttons: {
	                  pageLength: 'Mostrar'
	                },
	                "decimal": "",
	                "emptyTable": "No hay información",
	                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
	                "infoEmpty": "Mostrando 0 a 0 de 0 Entradas",
	                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
	                "infoPostFix": "",
	                "thousands": ",",
	                "lengthMenu": "Mostrar _MENU_ Entradas",
	                "loadingRecords": "Cargando Registros...",
	                "processing": "Procesando...",
	                "search": "_INPUT_",
			        "searchPlaceholder": "Busqueda General",
	                "zeroRecords": "No existen registros",
	                "paginate": {
	                    "first": "Primero",
	                    "last": "Ultimo",
	                    "next": "Siguiente",
	                    "previous": "Anterior"
	                }
	            },
	            "ajax" : {
	                "url" : url_base + 'pedesa/listaalianzaestrategica',
	                "type" : "GET",
	                "dataSrc" : ""
	            },
	            "columns" : [
	            	{
	            		 "data":null, render:function(){return "";}
	            	},
	            	{	            	
	            		"data": null, "render": function (data, type, full, meta) { return meta.row + 1; }
	            	},
	            	{ 'data' : 'anio' },
	            	{ 'data' : 'ods' },
	            	{ 'data' : 'categoria' },
	                { 'data' : 'entidad' },
	                { 'data' : 'comiteTecnico' ,
	                   render: function(data, type) {
	                   	   var x = '';
                           switch (data) {
	                            case '1':
	                                x = '<img src="./images/svg/eye-solid.svg" class="evidencia" style="width:20px; cursor:pointer"/>';
	                                break;
	                            case '0':
	                            	x = "";
	                                break;
                            }
                            return x;
                        }
                	},
	            	{ 'data' : 'comiteEvaluador' ,
	                   render: function(data, type) {
	                   	   var x = '';
                           switch (data) {
	                            case '1':
	                                x = '<img src="./images/svg/eye-solid.svg" class="evidencia" style="width:20px; cursor:pointer"/>';
	                                break;
	                            case '0':
	                            	x = "";
	                                break;
                            }
                            return x;
                        }
	            	},
	                { 'data' : 'auspiciador' ,
	                	render: function(data, type) {
	                   	   var x = '';
                           switch (data) {
	                            case '1':
	                                x = '<img src="./images/svg/eye-solid.svg" class="evidencia" style="width:20px; cursor:pointer"/>';
	                                break;
	                            case '0':
	                            	x = "";
	                                break;
                            }
                            return x;
                        }
	                },
	                { 'data' : 'aliado' ,
	                	render: function(data, type) {
	                   	   var x = '';
                           switch (data) {
	                            case '1':
	                                x = '<img src="./images/svg/eye-solid.svg" class="evidencia" style="width:20px; cursor:pointer"/>';
	                                break;
	                            case '0':
	                            	x = "";
	                                break;
                            }
                            return x;
                        }
	                },
	                { 'data' : 'id' ,
	                	render: function(data, type) {
	                   	   var x = '<img src="./images/svg/edit-regular.svg" class="btnEditarUsuario" data-id="'+data+'" style="width:20px; cursor:pointer"/>';
                            return x;
                        }
	                },
	                { 'data' : 'estado' ,
	                	render: function(data, type) {
	                   	   var x = '';
                           switch (data) {
	                            case '1':
	                                x = '<img src="./images/svg/minus-solid.svg" class="btnInactivarUsuario" style="width:20px; cursor:pointer"/>';
	                                break;
	                            case '0':
	                            	x = '<img src="./images/svg/add-regular.svg" class="btnInactivarUsuario" style="width:20px; cursor:pointer"/>';
	                                break;
                            }
                            return x;
                        }
	                },
	                { 'data' : 'estado' }
	            ],
	            columnDefs: [
	            	{
	                    orderable: false,
	                    className: 'select-checkbox',
	                    targets:   0
	                },
	                {
	            	      "targets": 6,
	            	      "className": "text-center"
	                },
	                {
	            	      "targets": 7,
	            	      "className": "text-center"
	                },
	                {
	            	      "targets": 8,
	            	      "className": "text-center"
	                },
	                {
	            	      "targets": 9,
	            	      "className": "text-center"
	                },
	                {
	            	      "targets": 10,
	            	      "className": "text-center"
	                },
	                {
	            	      "targets": 12,
	            	      "visible": false
	                }
	            ],
	            select: {
	                style:    'multi', 
	                selector: 'td:first-child'
	            },
	            "buttons": [
	            	{
	            		extend: 'excelHtml5',
	            		text:"<img src='./images/iconos_nd/excel1.svg' style='size:15px;margin:0px;padding:0px'/>",
	                    titleAttr : 'LISTA DE TRABAJOS FINALES - CONCURSO',
	                    messageTop: function(){
	                    	return '[ ODS: ' + $("#odsconcurso").val() + ']            [ Año de inscripción: '+ $("#anioconcurso").val() + ']';
	                    },
	                    filename : function(){
	                    	/*var hoy = new Date();
	                    	var dia = String(hoy.getDate());
	                    	if(dia.length==1){
	                    		dia = "0"+dia;
	                    	}
	                    	var mes = String(hoy.getMonth()+1);
	                    	if(mes.length==1){
	                    		mes = "0"+mes;
	                    	}
	                    	var hora = String(hoy.getHours());
	                    	if(hora.length==1){
	                    		hora = "0"+hora;
	                    	}
	                    	var minuto = String(hoy.getMinutes());
	                    	if(minuto.length==1){
	                    		minuto = "0"+minuto;
	                    	}
	            	    	return "Listatrabajosfinales_"+dia+mes+hoy.getFullYear()+'_'+hora + minuto;*/
	                    }
	            	}
	            ]
	        });		
			$("div.rs_alianza_estrategica").html("<strong>RESULTADOS DE ALIANZA ESTRATEGICA</strong>");
			//cargarEditarUsuario();
		}
		
		$("#btnbuscaralianza").on("click",function(){ 
			table_lista_usuarios.draw();
		});
		
		$('#table_lista_asignacion').DataTable().on("draw", function(){
			$("#btnbuscaralianza").prop("disabled",false);
		});
		
		$.fn.dataTable.ext.search.push(
			function( settings, data, dataIndex ) {
				console.log("settings.nTable.id :" + settings.nTable.id);
				if ( settings.nTable.id !== 'table_lista_usuarios' ) {
			        return true;
			    }
			    
			    var ods = $('#odsalianza').val();
		        var anio = $('#anioalianza').val();
		       // var rol = $('#').val();
		        var estado = $('#estadoalianza').val();
		        
		        if(!filtraSelect(ods,data[3]))
					return false;
				if(!filtraSelect(anio,data[2]))
					return false;
				/*if(!filtraSelect(rol,data[7]))
					return false;*/
				if(!filtraSelect(estado,data[12]))
					return false;
				return true;
			}
		);
		
		function filtraSelect(dato,campo){console.log(dato+"-"+campo);
			if(dato==="Todos")
				return true;
			return dato===campo;
		}
		
		
		var listarasignacion = function(){
			
			$("#table_lista_asignacion").dataTable().fnDestroy();				
		    
			table_lista_asignacion = $('#table_lista_asignacion').DataTable({
				"dom": '<"excelHtml5"B><"rs_asignacion">frtip',
	            "scrollX": true,
	            "searching": true,
	            "lengthMenu": [
	                [ 10, 15, 25, -1 ],
	                [ '10 filas', '15 filas', '25 filas', 'Mostrar todas' ]
	            ],
	            "processing":true,
	            "language": {
	                buttons: {
	                  pageLength: 'Mostrar'
	                },
	                "decimal": "",
	                "emptyTable": "No hay información",
	                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
	                "infoEmpty": "Mostrando 0 a 0 de 0 Entradas",
	                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
	                "infoPostFix": "",
	                "thousands": ",",
	                "lengthMenu": "Mostrar _MENU_ Entradas",
	                "loadingRecords": "Cargando Registros...",
	                "processing": "Procesando...",
	                "search": "_INPUT_",
			        "searchPlaceholder": "Busqueda General",
	                "zeroRecords": "No existen registros",
	                "paginate": {
	                    "first": "Primero",
	                    "last": "Ultimo",
	                    "next": "Siguiente",
	                    "previous": "Anterior"
	                }
	            },
	            "ajax" : {
	                "url" : url_base + 'pedesa/listaasignacion',
	                "type" : "GET",
	                "dataSrc" : ""
	            },
	            "columns" : [
	            	{
	            		 "data":null, render:function(){return "";}
	            	},
	            	{	            	
	            		"data": null, "render": function (data, type, full, meta) { return meta.row + 1; }
	            	},
	            	{ 'data' : 'anio' },
	            	{ 'data' : 'ods' },
	            	{ 'data' : 'codigoiiee' },
	            	{ 'data' : 'nombreiiee' },
	                { 'data' : 'codigotrabajo' },
	                { 'data' : 'categoria' },
	            	{ 'data' : 'modalidad' },
	            	{ 'data' : 'nivelparticipacion' },
	                { 'data' : 'rolentidad' },
	                { 'data' : 'entidad' },
	                { 'data' : 'evaluadorasignado' }                
	            ],
	            columnDefs: [
	            	{
	                    orderable: false,
	                    className: 'select-checkbox',
	                    targets:   0
	                }
	            ],
	            select: {
	                style:    'multi', 
	                selector: 'td:first-child'
	            },
	            "buttons": [
	            	{
	            		extend: 'excelHtml5',
	            		text:"<img src='./images/iconos_nd/excel1.svg' style='size:15px;margin:0px;padding:0px'/>",
	                    titleAttr : 'LISTA DE ASIGNACION',
	                    messageTop: function(){
	                    	return '[ ODS: ' + $("#odsasignacion").val() + ']            [ Año de inscripción: '+ $("#anioasignacion").val() + ']';
	                    },
	                    filename : function(){
	                    	var hoy = new Date();
	                    	var dia = String(hoy.getDate());
	                    	if(dia.length==1){
	                    		dia = "0"+dia;
	                    	}
	                    	var mes = String(hoy.getMonth()+1);
	                    	if(mes.length==1){
	                    		mes = "0"+mes;
	                    	}
	                    	var hora = String(hoy.getHours());
	                    	if(hora.length==1){
	                    		hora = "0"+hora;
	                    	}
	                    	var minuto = String(hoy.getMinutes());
	                    	if(minuto.length==1){
	                    		minuto = "0"+minuto;
	                    	}
	            	    	return "ListaAsignacion_"+dia+mes+hoy.getFullYear()+'_'+hora + minuto;
	                    }
	            	}
	            ]
	        });
			$("div.rs_asignacion").html("<strong>RESULTADOS DE ASIGNACIÓN</strong>");
		}
		
		var obtener_fichatrabajo = function(tbody,table){
			$(tbody).on("click","img.fichatrabajo",function(){
				celdaseleccionada = table.row($(this).parents("tr")).index();
				var data = table.row($(this).parents("tr")).data();
				id = data.id;
				verfichatrabajo(id);
			});
		};
		
		var obtener_evidencia = function(tbody,table){
			$(tbody).on("click","img.evidencia",function(){
				celdaseleccionada = table.row($(this).parents("tr")).index();
				var data = table.row($(this).parents("tr")).data();
				id = data.id;
				verevidencia(id);
			});
		};
		
		var obtener_trabajos = function(tbody,table){
			$(tbody).on("click","img.trabajo",function(){
				celdaseleccionada = table.row($(this).parents("tr")).index();
				var data = table.row($(this).parents("tr")).data();
				id = data.id;
				vertrabajo(id);
			});
		};
		
		function verfichatrabajo(id){
	    	
	    	$.ajax({
				type : "GET",
			    contentType : "application/json",
			    url : url_base + "pedesa/descargarfichatrabajoconcursopdf/"+id,
				success: function(respuesta) {
					window.open(respuesta, '_blank');
				},
				error: function() {
					$("#modalimagencargando").modal('hide');
					$("#textoerror").html("Excepcion al descargar PDF");
					$('#modalerror').modal({
						show : true,
						backdrop : 'static',
						keyboard:false
					});
			    }
			});    	
	    }
		
		function vertrabajo(id){
			
	    	$.ajax({
				type : "GET",
			    contentType : "application/json",
			    url : url_base + "pedesa/vertrabajosevidencias/"+id,
				success: function(respuesta) {
					var objeto = respuesta;
					var archivo = objeto.archivo;
					var contenido = "<div><table style='width:100%'><tr>";
					var ext = (archivo.split('.')).pop();
					ext = ext.toLowerCase();
					var mi_archivo = JSON.stringify(archivo);
					var archivo;
					switch(ext){
						case 'jpg': 
							archivo = mi_archivo.replace(/['"]+/g, '');
							contenido += "<td>"+archivo+"<input type='image' width='20' src='./images/iconos_nd/descargarevidencia.svg' onclick='verdocumentotrabajo(" +'`'+ id +'`'+  "," +'`'+ archivo +'`'+")'/><br><img width='300' height='240' src='../alfresco_programaeducativo/pedesa/upload_trabajos/" +id +"/" +archivo +"'/></td>";
							break;
						case 'png': 
							archivo = mi_archivo.replace(/['"]+/g, '');
							contenido += "<td>"+archivo+"<input type='image' width='20' src='./images/iconos_nd/descargarevidencia.svg' onclick='verdocumentotrabajo(" +'`'+ id +'`'+  "," +'`'+ archivo +'`'+")'/><br><img width='300' height='240' src='../alfresco_programaeducativo/pedesa/upload_trabajos/" +id +"/" +archivo +"'/></td>";
							break;
						case 'jpeg': 
							archivo = mi_archivo.replace(/['"]+/g, '');
							contenido += "<td>"+archivo+"<input type='image' width='20' src='./images/iconos_nd/descargarevidencia.svg' onclick='verdocumentotrabajo(" +'`'+ id +'`'+  "," +'`'+ archivo +'`'+")'/><br><img width='300' height='240' src='../alfresco_programaeducativo/pedesa/upload_trabajos/" +id +"/" +archivo +"'/></td>";
							break;
						case 'pdf':
							archivo = mi_archivo.replace(/['"]+/g, '');
							contenido += "<td><label>"+archivo+"</label>&nbsp;<input type='image' src='./images/iconos_nd/pdf1.svg' onclick='verdocumentotrabajo(" +'`'+ id +'`'+  "," +'`'+ archivo +'`'+")'/></td>";
							break;
						case 'docx': 
							archivo = mi_archivo.replace(/['"]+/g, '');
							contenido += "<td><label>"+archivo+"</label>&nbsp;<input type='image' src='./images/iconos_nd/word-2019.svg' onclick='verdocumentotrabajo(" +'`'+ id +'`'+  "," +'`'+ archivo +'`'+")'/></td>";
							break;
						case 'mp3': 
							archivo = mi_archivo.replace(/['"]+/g, '');
							contenido += "<td><label>"+archivo+"</label><input type='image' width='20'  onclick='verdocumentotrabajo(" +'`'+ id +'`'+  "," +'`'+ archivo +'`'+")'/></td>";
							break;
						case 'mp4': 
							archivo = mi_archivo.replace(/['"]+/g, '');
							contenido += "<td>"+archivo+"<input type='image' width='20' src='./images/iconos_nd/descargarevidencia.svg' onclick='verdocumentotrabajo(" +'`'+ id +'`'+  "," +'`'+ archivo +'`'+")'/><br><video width='320' height='240' controls><source src='../alfresco_programaeducativo/pedesa/upload_evidencias/" +id +"/" +archivo +"'  type='video/mp4'></td>";
							break;
					}
					
					contenido += "</tr></table></div>";
					$("#contenidoTrabajo").html(contenido);
					$("#modalArchivoTrabajo").modal({
						show : true,
						backdrop : 'static',
						keyboard:false
					});
				},
				error: function() {
					$("#modalimagencargando").modal('hide');
					$("#textoerror").html("Excepcion al ver trabajo");
					$('#modalerror').modal({
						show : true,
						backdrop : 'static',
						keyboard:false
					});
			    }
			});    	
	    }	
		
		
		function verevidencia(id){
	    	
	    	$.ajax({
				type : "GET",
			    contentType : "application/json",
			    url : url_base + "pedesa/vertrabajosevidencias/"+id,
				success: function(respuesta) {
					var objeto = respuesta;
					var archivo = objeto.archivo;
					var evidencias = objeto.evidencia;
					var contenido = "<div><table style='width:100%'><tr>";
					for(var i=0;i<evidencias.length;i++){
						var evidencia = evidencias[i];
						var ext = (evidencia.split('.')).pop();
						ext = ext.toLowerCase();
						var mi_evi = JSON.stringify(evidencia);
						var archivo;
						switch(ext){
							case 'jpg': 
								archivo = mi_evi.replace(/['"]+/g, '');
								contenido += "<td>"+archivo+"<input type='image' width='20' src='./images/iconos_nd/descargarevidencia.svg' onclick='verdocumento(" +'`'+ id +'`'+  "," +'`'+ archivo +'`'+")'/><br><img width='300' height='240' src='../alfresco_programaeducativo/pedesa/upload_evidencias/" +id +"/" +archivo +"'/></td>";
								break;
							case 'png': 
								archivo = mi_evi.replace(/['"]+/g, '');
								contenido += "<td>"+archivo+"<input type='image' width='20' src='./images/iconos_nd/descargarevidencia.svg' onclick='verdocumento(" +'`'+ id +'`'+  "," +'`'+ archivo +'`'+")'/><br><img width='300' height='240' src='../alfresco_programaeducativo/pedesa/upload_evidencias/" +id +"/" +archivo +"'/></td>";
								break;
							case 'jpeg': 
								archivo = mi_evi.replace(/['"]+/g, '');
								contenido += "<td>"+archivo+"<input type='image' width='20' src='./images/iconos_nd/descargarevidencia.svg' onclick='verdocumento(" +'`'+ id +'`'+  "," +'`'+ archivo +'`'+")'/><br><img width='300' height='240' src='../alfresco_programaeducativo/pedesa/upload_evidencias/" +id +"/" +archivo +"'/></td>";
								break;
							case 'pdf':
								archivo = mi_evi.replace(/['"]+/g, '');
								contenido += "<td><label>"+archivo+"</label>&nbsp;<input type='image' src='./images/iconos_nd/pdf1.svg' onclick='verdocumento(" +'`'+ id +'`'+  "," +'`'+ archivo +'`'+")'/></td>";
								break;
							case 'docx': 
								archivo = mi_evi.replace(/['"]+/g, '');
								contenido += "<td><label>"+archivo+"</label>&nbsp;<input type='image'  src='./images/iconos_nd/word-2019.svg' onclick='verdocumento(" +'`'+ id +'`'+  "," +'`'+ archivo +'`'+")'/></td>";
								break;
							case 'mp3': 
								archivo = mi_evi.replace(/['"]+/g, '');
								contenido += "<td><label>"+archivo+"</label><input type='image' width='20'  onclick='verdocumento(" +'`'+ id +'`'+  "," +'`'+ archivo +'`'+")'/></td>";
								break;
							case 'mp4': 
								archivo = mi_evi.replace(/['"]+/g, '');
								contenido += "<td>"+archivo+"<input type='image' width='20' src='./images/iconos_nd/descargarevidencia.svg' onclick='verdocumento(" +'`'+ id +'`'+  "," +'`'+ archivo +'`'+")'/><br><video width='320' height='240' controls><source src='../alfresco_programaeducativo/pedesa/upload_evidencias/" +'`'+ id +'`'+  "/" +'`'+ archivo +'`'+"'  type='video/mp4'><source src='movie.ogg' type='video/ogg'></td>";
								break;
						}
					}
					
					contenido += "</tr></table></div>";
					$("#contenidoEvidencias").html(contenido);
					$("#modalArchivosEvidencias").modal({
						show : true,
						backdrop : 'static',
						keyboard:false
					});
				},
				error: function() {
					$("#modalimagencargando").modal('hide');
					$("#textoerror").html("Excepcion al ver evidencia");
					$('#modalerror').modal({
						show : true,
						backdrop : 'static',
						keyboard:false
					});
			    }
			});    	
	    }
	    
	    
		$.fn.dataTable.ext.search.push(
    	    function( settings, data, dataIndex ) {
    	    	
    	    	if (settings.nTable.id !== 'table_lista_concurso'){
    	            return true;
    	        }
    	    	
    	    	var ods = $("#odsconcurso").val();
    	    	var anio = $("#anioconcurso").val();
    	    	var modalidad  = $("#modalidadconcurso").val();
    	    	var estadoconcurso = $("#estadoconcurso").val();
    	    	var categoriaconcurso = $("#categoriaconcurso").val();
    	    	var participacionconcurso = $("#participacionconcurso").val();
    	    	var nombreieconcurso = $("#nombreieconcurso").val();
    	    	
    	    	if(!filtra(ods,data[4]))
    	    		return false;
    	    	if(!filtra(anio,data[2]))
    	    		return false;
    	    	if(!filtra(modalidad,data[8]))
    	    		return false;
    	    	if(!filtra(estadoconcurso,data[15]))
    	    		return false;
    	    	if(!filtra(categoriaconcurso,data[7]))
    	    		return false;
    	    	if(!filtra(participacionconcurso,data[10]))
    	    		return false;
    	    	if(!filtra(nombreieconcurso,data[6]))
    	    		return false;
   	    		return true;
    	    }
    	);
		
		function filtra(campofiltro,campotabla){
	    	if(campofiltro==="Todos" || campofiltro===undefined)
	    		return true;
	    	var posicion = (campotabla.toLowerCase()).indexOf(campofiltro.toLowerCase()); 
	    	if(posicion != -1)
	    		return  true;
	    	return false;
	    }
		
		function verdocumento(id,link){
			window.open("../alfresco_programaeducativo/pedesa/upload_evidencias/"+id+"/"+link, '_blank');
		}
		
		function verdocumentotrabajo(id,link){
			window.open("../alfresco_programaeducativo/pedesa/upload_trabajos/"+id+"/"+link, '_blank');
		}
		
		function funcionesAlianza(){
			$(document).on("click",".btnEditarUsuario",function(){ console.log('.btnEditarUsuario');
				var id = $(this).attr('data-id');
				$.ajax({
					type : "GET",
				    contentType : "application/json",
				    url : url_base + "pedesa/formeditarusuario/"+id,
					success: function(respuesta) {
						$("#contenidoAlianzaEstrategicar").html(respuesta);
						$('#modalAlianzaEstrategica').modal({
							show : true,
							backdrop : 'static',
							keyboard:false
						});
					},
					error: function() {
						console.log("error al cargar modal alianza estrategica");
				    }
				});
			});
	
			
			$(document).on("click",".btnInactivarUsuario",function(){ console.log('.btnInactivarUsuario');
				console.log($(this).parent());
				console.log($(this).parent().prev());
				console.log($(this).parent().prev().find('img'));
				console.log($(this).parent().prev().find('img').attr('data-id'));
				var id = $(this).parent().prev().find('img').attr('data-id');
				$.ajax({
					type : "GET",
				    contentType : "application/json",
				    url : url_base + "pedesa/cambiarestado/"+id,
					success: function(respuesta) {
						listarAlianzaEstrategica();
					},
					error: function() {
						$("#modalimagencargando").modal('hide');
						console.log("Error");
				    }
				});
			});
		}
		
</script>
