<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
<head>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}" ></script>
    <script type="text/javascript" th:src="@{/js/bootstrapv4.js}" ></script>
    <script type="text/javascript" th:src="@{/js/fontawesomev5.0.6.js}" ></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui.js}" ></script>
    
    <link href="../static/css/bootstrapv4.3.1-14.css" rel="stylesheet" th:href="@{/css/bootstrapv4.3.1-14.css}" >
    <link href="../static/css/bootstrap-select.min.css" rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}" >    
    <link rel="stylesheet" href="../static/css/jquery-ui.css" th:href="@{/css/jquery-ui.css}">
    
    <link rel="shortcut icon" th:href="@{pedesa/images/logo_login.ico}" />
	
</head>
<body>
	<div class="row pt-2" style="width:100%">
		<div class="col-4">
			<img th:src="@{/images/imagen1.PNG}" style="padding:10px; border:1px solid #C9C9C9" width="400px"/>
			<h4>
				<a id="participarce" style="cursor:pointer; color:#2E2D2D">PARTICIPAR AL C.E</a>
			</h4>
			<label style="color:#2E2D2D"><i>Aqu&iacute; podr&aacute;s participar el '</i></label><i><label style="color:#2E2D2D" th:text="${nombre_concurso}"></label></i>'
		</div>
		<div class="col-4">
			<img th:src="@{/images/imagen2.PNG}" style="padding:10px; border:1px solid #C9C9C9" width="430px"/>
			<h4>
				<a id="" style="cursor:pointer; color:#2E2D2D">CONSULTA</a>
			</h4>
			<label style="color:#2E2D2D"><i>Aqu&iacute; podras visualizar tus trabajos ingresados en a&ntilde;os anteriores</i></label>
		</div>
		<div class="col-4">
			<img th:src="@{/images/imagen3.PNG}" style="padding:10px; border:1px solid #C9C9C9" width="220px"/>
			<h4>
				<a id="" style="cursor:pointer; color:#2E2D2D">AULA VIRTUAL</a>
			</h4>
			<label style="color:#2E2D2D"><i>Aqu&iacute; podras encontrar los diversos recursos compartidos en las charlas y talleres, para acceder a ellos debes registrarte tus datos en el sistema</i></label>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">    	
	    
    	var url_base = location.origin + "/";
	    
	    $(document).ready(function(){		
			
	    	$("#btnCerrarSesion").click(function(){
	    		$.ajax({
	    			url: url_base + "pedesa/cerrar_sesion",
	    			success: function(respuesta) {
	    				window.location.href = url_base+"pedesa/";
	    			}
	    		});		
	    	}); 
	    	
	    	$("#participarce").click(function(){
	    		
	    		$("#modalimagencargando").modal({
	    			show : true,
	    			backdrop : 'static',
	    			keyboard:false
	    		});
	    		$.ajax({
	    			url: url_base + "pedesa/participar_concurso",
	    			success: function(respuesta) {
	    				
	    				switch(respuesta){
	    				case "a" : $("#modalimagencargando").modal('hide'); alert("No se encuentra aperturado el año"); break;
    					case "b" : $("#modalimagencargando").modal('hide'); alert("Esta fuera de fechas del anio aperturado"); break;
    					case "c" : $("#modalimagencargando").modal('hide'); alert("Estimado (a) docente su inscripción al programa educativo aún no ha sido aprobada, por favor espere el correo de confirmación respectivo.");break;
    					default : 
    							var programaeducativoid = parseInt(respuesta);
	    						$.ajax({
	    			    			url: url_base + "pedesa/postular_concurso/"+programaeducativoid,
	    			    			success: function(respuesta) {
	    			    				$("#modalimagencargando").modal('hide');
	    			    				$("#container").html(respuesta);
	    			    			}
	    						});
	    						break;
	    				}
	    			}
	    		});	
	    	});
		});		
    </script>