<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
<head>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}" ></script>
    <script type="text/javascript" th:src="@{/js/bootstrapv4.js}" ></script>
    <script type="text/javascript" th:src="@{/js/fontawesomev5.0.6.js}" ></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui.js}" ></script>
    
    <link href="../static/css/bootstrapv4.3.1-14.css" rel="stylesheet" th:href="@{/css/bootstrapv4.3.1-14.css}" >
    <link href="../static/css/bootstrap-select.min.css" rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}" >    
    <link rel="stylesheet" href="../static/css/jquery-ui.css" th:href="@{/css/jquery-ui.css}">
    
    <link rel="shortcut icon" th:href="@{programaeducativo/images/logo_login.ico}" />
	
</head>
<body>
	<input type="hidden" th:value="${id}" id="id" />
	<div id="content" style="background:#007bff; width:60%">
	
		<div class="row">
			<div class="col-12 pt-3 pb-3 text-center" style="color:white">
				<strong>Postular al Concurso Escolar Nacional</strong>
				<br>
				<strong>Buenas Pr&aacute;cticas para el Ahorro del Agua Potable</strong>
				<br>
				<strong>CONDICIONES GENERALES DE PARTICIPACI&Oacute;N</strong>	
			</div>
			<div class="col-12 text-left">
				<ul>
  					<li style="color:white">
  						<label style="color:white">Ser una Instituci&oacute;n Educativa p&uacute;blica o privada en las modalidades de Educaci&oacute;n B&aacute;sica Regular, Educaci&oacute;n B&aacute;sica Alternativa y Educaci&oacute;n B&aacute;sica Especial.</label>
  					</li>	
  					<li  style="color:white">
  						<label style="color:white">La Instituci&oacute;n Educativa s&oacute;lo postular&aacute; con una propuesta integral a nivel de centro educativo, no por nivel educativo</label>
  					</li>
  					<li style="color:white">
  						<label style="color:white">Completar los datos de inscripci&oacute;n, adjuntando el documento con la firma y sello del Director General de la Instituci&oacute;n Educativa</label>
  					</li>
  				</ul>
			</div>
			<div class="col-12 text-left pl-4">
				<label style="color:white">Las Intituciones Educativas pueden presentar sus postulaciones en las siguientes categor&iacute;as:</label>
			</div>
			<div class="col-12">
				<table style="width:98%">
	          		<tr>
	          			<td style="padding:5px">
	          				<input type="checkbox" id="categoria1" name="categoria1" value="1" style="margin-right:8px" /><label for="categoria1" style="color:white"><strong>Categor&iacute;a 1 : Composici&oacute;n musical</strong></label>
	          			</td>
	          			<td style="padding:5px">
	          				<input type="checkbox" id="categoria2" name="categoria2" value="2" style="margin-right:8px" /><label for="categoria2" style="color:white"><strong>Categor&iacute;a 2 : Cuento</strong></label>
	          			</td>
	          		</tr>
	          		<tr> 
	          			<td style="padding:5px">
	          				<input type="checkbox" id="categoria3" name="categoria3" value="3" style="margin-right:8px" /><label for="categoria3" style="color:white"><strong>Categor&iacute;a 3 : Dibujo o pintura</strong></label>
	          			</td>
	          			<td style="padding:5px">
	          				<input type="checkbox" id="categoria4" name="categoria4" value="4" style="margin-right:8px" /><label for="categoria4" style="color:white"><strong>Categor&iacute;a 4 : Poes&iacute;a</strong></label>
	          			</td>
	          		</tr>
	          		<tr>
	          			<td colspan="2" style="padding:5px">
	          				<center>
	          					<input type="checkbox" id="categoria5" name="categoria5" value="5" style="margin-right:8px" /><label for="categoria5" style="color:white"><strong>Categor&iacute;a 5 : Ahorro de agua en tu hogar</strong></label>
	          				</center>
	          			</td>
	          		</tr>
	          </table>
			</div>
			<div class="col-12 text-left pl-4 pb-3">
				<label  style="color:white">Si deseas conocer m&aacute;s de nuestro Concurso descarga las bases </label> <a class="background-color:white" href="/programaeducativo/reportes/Bases_VIIIConcurso-2021-04_02_21.docx" download style="color:white;text-decoration-line: underline" >Aqu&iacute;</a>
			</div>
			<div class="col-12 pb-4">
				<table style="width:60%">
		          	<tr>
		          		<td>
		          			<center><input type="button" id="salir" value="Salir" class="btn btn-danger"/></center>
		          		</td>
		          		<td>
		          			<center><input type="button" id="postular" value="Postular" class="btn btn-success"/></center>
		          		</td>
		          	</tr>
		          </table>
			</div>
			<br>
		</div>
    </div>
    
    
    <div class="modal" tabindex="-1" role="dialog" id="modalexito">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <!-- h5 class="modal-title"><label class="text-primary">exito</label></h5-->
	        <img th:src="@{./images/imagen_exito5.png}"/>&nbsp;&nbsp; <strong class="pt-1">Registro exitoso</strong>
	        <!-- button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button-->
	      </div>
	      <div class="modal-body" id="textoexito">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary rounded-0" id="btncerrarmensajeexito" name="btncerrarmensajeexito">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal" tabindex="-1" role="dialog" id="modalinformacion">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <!--h5 class="modal-title"><label class="text-primary"></label></h5-->
	        <img th:src="@{./images/imagen_informacion11.png}" />&nbsp;&nbsp; <strong class="pt-1">Alerta</strong>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" id="textoinformacion">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary rounded-0" id="btncerrarmensajeinformacion" name="btncerrarmensajeinformacion">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal" tabindex="-1" role="dialog" id="modalerror">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <!--h5 class="modal-title"><label class="text-primary"></label></h5-->
	        <img th:src="@{./images/imagen_informacion11.png}"/>&nbsp;&nbsp; <strong class="pt-1">Error</strong>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>	          
	        </button>
	      </div>
	      <div class="modal-body" id="textoerror">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary rounded-0" id="btncerrarmensajeerror" name="btncerrarmensajeerror">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>
	
</body>
</html>
<script type="text/javascript">    	
	    
	  	var url_base = location.origin + "/";
	  	var idpe=0;
	   
		$(document).ready(function(){	
			
			$("#postular").click(function(){
				
				var cat1 =0, cat2=0,cat3=0,cat4=0,cat5=0;
				
				if($('#categoria1').prop('checked')){
				    cat1=1;
				}
				if($('#categoria2').prop('checked')){
				    cat2=1;
				}
				if($('#categoria3').prop('checked')){
				    cat3=1;
				}
				if($('#categoria4').prop('checked')){
				    cat4=1;
				}
				if($('#categoria5').prop('checked')){
				    cat5=1;
				}
				idpe = $("#id").val();
		   		
				var fecha = new Date();
				var anio = fecha.getFullYear();
				
		   		var data = {
		   			categoria1 :  cat1,
		   			categoria2 : cat2,
		   			categoria3 : cat3,
		   			categoria4 : cat4,
		   			categoria5 : cat5,
		   			progeduc: {
		   				id : idpe
		   			},
		   			anio : anio
		   		};
		   		
		   		$.ajax({
		   			type : "POST",
				    contentType : "application/json",
				    url : url_base + "programaeducativo/registrarconcurso",
				    data : JSON.stringify(data),
					success: function(respuesta) {
						switch(respuesta){
							case "0" :  
								$("#textoerror").html("Error al registrarse en el concurso");
								$('#modalerror').modal({
									show : true,
									backdrop : 'static',
									keyboard:false
								});								
								break;
							default:   
								$("#textoexito").html("Su IE se registr&oacute; exitosamente al '"+ respuesta +"'");
								$('#modalexito').modal({
									show : true,
									backdrop : 'static',
									keyboard:false
								});	
								break;
						}
					},
					error: function() {
				        console.log("No se ha podido obtener la información");
				    }
				});
		   	});
			
			$("#btncerrarmensajeexito").click(function(){
				$("#modalexito").modal('hide');
				$("#container").html("<center><img src='./images/cargando.gif'/></center>");				
				$.ajax({
					type : "GET",
	    			url: url_base + "programaeducativo/fichainscripcion/"+ idpe,
	    			success: function(respuesta) {
	    				$("#container").html(respuesta);
	    			}
	    		});				
			});		   	
		});		
  </script>	