<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ProgramaEducativo</title>
    <meta charset="UTF-8" />   
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <script type="text/javascript">
		window.history.forward();
	</script>    
    
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}" ></script>
    <script type="text/javascript" th:src="@{/js/bootstrapv4.js}" ></script>
    <script type="text/javascript" th:src="@{/js/fontawesomev5.0.6.js}" ></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui.js}" ></script>
    <script type="text/javascript" th:src="@{/js/recuperarcontrasenia.js}" ></script>
    
    <link href="../static/css/bootstrapv4.3.1-14.css" rel="stylesheet" th:href="@{/css/bootstrapv4.3.1-14.css}" >
    <link href="../static/css/bootstrap-select.min.css" rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}" > 
    <link rel="stylesheet" href="../static/css/jquery-ui.css" th:href="@{/css/jquery-ui.css}">
    
    <link rel="shortcut icon" th:href="@{/images/logo_login.ico}" />
</head>
<body style="background:#E8E6E6; font-size:14px">	
	<br><br><br>	
	<center>	
		<br><br>			
		<div style="width:450px; border:1px solid #C6C6C6; background:white; padding:15px ">
			<form id="form_recuperar_contrasenia" name="form_recuperar_contrasenia">
                  <div style="width:100%">
                 	  <br> 
                      <label align="left" style="width:100%"><strong>Recuperar Contraseña</strong></label>
                      <br>
                      <label align="left" style="width:100%">Ingrese el código de la II.EE</label>
                      <input type="text" class="form-control" style="margin:1px; background : #F0EFEF" id="correo" name="correo" placeholder="Cód II.EE." >
                  </div>
                  <div>
                      <input type="button" style="width:100%; border:0px" class="btn btn-primary mt-3" id="btnrecuperarcontrasenia" value="Recuperar contraseña">
                  </div>
		    </form>
		    <hr>
		   <br> 
		   <label style="width:100%" align="left">Haz click <a href="http://prometeo.sunass.gob.pe/programaeducativo/">Aquí</a> para acceder a la página de Login</label>
		</div>	
	</center>
	
	
	<div class="modal" tabindex="-1" role="dialog" id="modalexito">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <img th:src="@{./images/imagen_exito5.png}"/>&nbsp;&nbsp; <strong class="pt-1">Registro exitoso</strong>
	      </div>
	      <div class="modal-body" id="textoexito">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary rounded-0" id="btncerrarmensajeexito" name="btncerrarmensajeexito">Aceptar</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal" tabindex="-1" role="dialog" id="modalconfirmacion">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <img th:src="@{./images/imagen_informacion11.png}" />&nbsp;&nbsp; <strong class="pt-1">Confirmacion</strong>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" id="textoconfirmacion">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary rounded-0" id="btnaceptarmensajeconfirmacion" name="btnaceptarmensajeconfirmacion">Aceptar</button>
	        <button type="button" class="btn btn-danger rounded-0" id="btncerrarmensajeconfirmacion" name="btncerrarmensajeconfirmacion">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal" tabindex="-1" role="dialog" id="modalinformacion">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <img th:src="@{./images/imagen_informacion11.png}" />&nbsp;&nbsp; <strong class="pt-1">Alerta</strong>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" id="textoinformacion">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger rounded-0" id="btncerrarmensajeinformacion" name="btncerrarmensajeinformacion">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal" tabindex="-1" role="dialog" id="modalerror">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <img th:src="@{./images/imagen_informacion11.png}"/>&nbsp;&nbsp; <strong class="pt-1">Error</strong>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>	          
	        </button>
	      </div>
	      <div class="modal-body" id="textoerror">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger rounded-0" id="btncerrarmensajeerror" name="btncerrarmensajeerror">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	
	
	
	
	
</body>
</html>


