<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />

<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
<link href="../static/css/gijgo.min.css" rel="stylesheet" th:href="@{/css/gijgo.min.css}" >


<link href="../static/css/font-awesome.min.css" rel="stylesheet" th:href="@{/css/font-awesome.min.css}" >

<script type="text/javascript" th:src="@{/js/gijgo.min.js}" ></script>
<script type="text/javascript" th:src="@{/js/messages.es-es.js}"></script>
<script type="text/javascript" th:src="@{/js/datetime-moment-order.js}"></script>
<script type="text/javascript" th:src="@{/js/moment.js}"></script>

<script type="text/javascript" th:src="@{/js/date-uk.js}"></script>
<script type="text/javascript" th:src="@{/js/date-euro.js}"></script>

<script type="text/javascript" th:src="@{/js/bootstrapv4.js}" ></script>

<div>
	<div class="row p-0 m-0">
		<h4 class="text-primary" style="margin-top:-25px;margin-left:10px">CONCURSO ESCOLAR</h4>
	</div>
	<hr>
	<div class="row p-0 m-0">
		<div class="col-xs-12 col-sm-8" >
			<label>Seleccione reporte</label>
			<select id="reporte" name="reporte" class="form-control">
				<option value="0">Seleccione</option>
				<option value="1">Información de docentes y participantes C.E</option>
				<option value="2">Reporte General</option>
				<option value="3">Notas por evaluador</option>
				<option value="4">Reporte Docentes</option>					
			</select>
		</div>
	</div>
	<div class="row p-0 m-0">
		<div class="col-xs-12 col-sm-4" style="margin-top:40px">
			<label>ODS</label>
			<select id="cbods" name="cbods" class="form-control">
				<option value="-1">Todos</option>
				<option th:each="len:${ods}" th:value="${len.id}" th:utext="${len.descripcion}"/>
			</select>
		</div>
		<div class="col-xs-12 col-sm-4" style="margin-top:40px">
			<label>Año</label>
			<select id="cbanio" name="cbanio" class="form-control">
				<option value="-1">Todos</option>
				<option th:each="dato:${anios}" th:value="${dato}" th:utext="${dato}"/>
			</select>		
		</div>
		<div class="col-xs-12 col-sm-4" style="margin-top:40px">
			<label>Categoría</label>
			<select id="cbcategoria" name="cbcategoria" class="form-control">
				<option value="-1">Todos</option>
				<option value="1">Composición musical</option>
				<option value="2">Cuento</option>
				<option value="3">Poesía</option>
				<option value="4">Dibujo o pintura</option>
				<option value="5">Ahorrar del agua en tu hogar</option>
			</select>
		</div>
		<div class="col-xs-12 col-sm-4" style="margin-top:40px">
			<label>Modalidad</label>
			<select id="cbmodalidad" name="cbmodalidad" class="form-control">
				<option value="-1">Todos</option>
				<option value="1">Individual</option>
				<option value="2">Grupal</option>
			</select>
		</div>
		<div class="col-xs-12 col-sm-4" style="margin-top:40px">
			<label>Nivel de participación</label>
			<select id="cbnivelparticipacion" name="cbnivelparticipacion" class="form-control">
				<option value="-1">Todos</option>
				<option value="1">Primer nivel</option>
				<option value="2">Segundo nivel</option>
				<option value="3">Tercer nivel</option>
			</select>
		</div>
		<div class="col-xs-12 col-sm-3" style="margin-top:40px">
   			<label>&nbsp;</label>
   		</div>
		<div class="col-xs-12 col-sm-3" style="margin-top:40px">
   			<label>&nbsp;</label>
   		</div>
		<div class="col-xs-12 col-sm-3" style="margin-top:40px">
			<table style="width:100%">
				<tr>
					<td>
						<input type="button" name="btndescargarexcel" id="btndescargarexcel" class="btn btn-primary" value="Descargar"/>
					</td>	
					<td>
						<input type="image" id="btnlimpiarreporte"  src="./images/iconos_nd/botonrefrescar.svg" width="36px" />
					</td>	
				</tr>
			</table>			
		</div>
	</div>
	<hr>
</div>
</html>
<script type="text/javascript">
	
		$(document).ready(function(){			
			
			$("#btndescargarexcel").click(function(){
				
				var reporte = $("#reporte").val();
				var ods = parseInt($("#cbods").val());
				var anio = parseInt($("#cbanio").val());
				var categoria = parseInt($("#cbcategoria").val());
				var modalidad = parseInt($("#cbmodalidad").val());
				var nivel = parseInt($("#cbnivelparticipacion").val());		
				
				switch(reporte){
					case '1' : window.location.href = url_base + "pedesa/reporteparticipantesinscritos/"+ods+"/"+anio+"/"+categoria+"/"+modalidad+"/"+nivel; break;
					case '2' : window.location.href = url_base + "pedesa/reportegeneral/"+ods+"/"+anio+"/"+categoria+"/"+modalidad+"/"+nivel; break;
					case '3' : window.location.href = url_base + "pedesa/reportenotasevaluador/"+ods+"/"+anio+"/"+categoria+"/"+nivel; break;
					case '4' : window.location.href = url_base + "pedesa/reportedocentes/"+ods+"/"+anio; break;			
					default : alert("Seleccione reporte"); break;
				}
			});
			
			$("#btnlimpiarreporte").click(function(){
				$("#cbods").val("-1");
				$("#cbanio").val("-1");
				$("#cbcategoria").val("-1");
				$("#cbmodalidad").val("-1");
				$("#cbnivelparticipacion").val("-1");
			});
			
		});

</script>




