<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />

<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
<link href="../static/css/gijgo.min.css" rel="stylesheet" th:href="@{/css/gijgo.min.css}" >


<link href="../static/css/font-awesome.min.css" rel="stylesheet" th:href="@{/css/font-awesome.min.css}" >

<script type="text/javascript" th:src="@{/js/gijgo.min.js}" ></script>
<script type="text/javascript" th:src="@{/js/messages.es-es.js}"></script>
<script type="text/javascript" th:src="@{/js/datetime-moment-order.js}"></script>
<script type="text/javascript" th:src="@{/js/moment.js}"></script>

<script type="text/javascript" th:src="@{/js/date-uk.js}"></script>
<script type="text/javascript" th:src="@{/js/date-euro.js}"></script>

<script type="text/javascript" th:src="@{/js/bootstrapv4.js}" ></script>

<!-- script type="text/javascript" th:src="@{/js/BsMultiSelect.js}" ></script-->

<div>
	<div class="row p-0 m-0">
		<h4 class="text-primary" style="margin-top:-25px;margin-left:10px">CONCURSO ESCOLAR</h4>
	</div>
	<hr>
	<div class="row p-0 m-0">
		<div class="col-xs-12 col-sm-6" >
			<table style="width:100%">
				<tr>
					<td style="width:30%">
						<label>Seleccione reporte</label>
					</td>
					<td style="width:70%">
						<select id="reporte" name="reporte" class="form-control">
							<option value="0">Seleccione</option>
							<option value="1">Información de docentes y participantes C.E</option>
						</select>
					</td>
				</tr>
			</table>	
		</div>
	</div>
	<div class="row p-0 m-0">
		<div class="col-xs-12 col-sm-3" style="margin-top:40px">
			<table style="width:100%">
				<tr>
					<td style="width:40%">
						<label>ODS</label>
					</td>
					<td style="width:60%">
						<select id="cbods" name="cbods" class="form-control">
							<option value="-1">Todos</option>
							<option th:each="len:${ods}" th:value="${len.id}" th:utext="${len.descripcion}"/>
						</select>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-12 col-sm-3" style="margin-top:40px">	
			<table style="width:100%">
				<tr>
					<td style="width:20%">
						<label>Año</label>
					</td>
					<td style="width:80%">
						<select id="cbanio" name="cbanio" class="form-control">
							<option value="-1">Todos</option>
							<option value="2017">2017</option >
							<option value="2018">2018</option>
							<option value="2019">2019</option>
							<option value="2020">2020</option>
							<option value="2021">2021</option>
						</select>
					</td>
				</tr>
			</table>			
		</div>
		<div class="col-xs-12 col-sm-3" style="margin-top:40px">
			<table style="width:100%">
				<tr>
					<td style="width:20%">
						<label>Categoría</label>
					</td>
					<td style="width:80%">
						<select id="cbcategoria" name="cbcategoria" class="form-control">
							<option value="-1">Todos</option>
							<option value="1">Cuento</option>
							<option value="2">Poesía</option>
							<option value="3">Dibujo o pintura</option>
							<option value="4">Composición musical</option>
							<option value="5">Ahorro del agua en tu hogar</option>
						</select>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-12 col-sm-3" style="margin-top:40px">
			<table style="width:100%">
				<tr>
					<td style="width:20%">
						<label>Modalidad</label>
					</td>
					<td style="width:80%">
						<select id="cbmodalidad" name="cbmodalidad" class="form-control">
							<option value="-1">Todos</option>
							<option value="1">Individual</option>
							<option value="2">Grupal</option>
						</select>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row p-0 m-0"> 
		<div class="col-xs-12 col-sm-3" style="margin-top:40px">
			<table style="width:100%">
				<tr>
					<td style="width:40%">
						<label>Nivel de participación</label>
					</td>
					<td style="width:60%">
						<select id="cbnivelparticipacion" name="cbnivelparticipacion" class="form-control">
							<option value="-1">Todos</option>
							<option value="1">Primer nivel</option>
							<option value="2">Segundo nivel</option>
							<option value="3">Tercer nivel</option>
						</select>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-12 col-sm-3" style="margin-top:40px">
   			<label>&nbsp;</label>
   		</div>
		<div class="col-xs-12 col-sm-3" style="margin-top:40px">
   			<label>&nbsp;</label>
   		</div>
		<div class="col-xs-12 col-sm-3" style="margin-top:40px">
			<table style="width:100%">
				<tr>
					<td>
						<input type="button" name="btndescargarexcel" id="btndescargarexcel" class="btn btn-primary" value="Descargar"/>
					</td>	
					<td>
						<input type="image" id="btnlimpiarreporte"  src="./images/iconos_nd/botonrefrescar.svg" width="36px" />
					</td>	
				</tr>
			</table>			
		</div>
	</div>
	<hr>
</div>
</html>
<script type="text/javascript">
	
		$(document).ready(function(){			
			
			$("#btndescargarexcel").click(function(){
				
				var reporte = $("#reporte").val();
				var ods = parseInt($("#cbods").val());
				var anio = parseInt($("#cbanio").val());
				var categoria = parseInt($("#cbcategoria").val());
				var modalidad = parseInt($("#cbmodalidad").val());
				var nivel = parseInt($("#cbnivelparticipacion").val());		
				
				if(reporte!="0"){
					window.location.href = url_base + "pedesa/reporteparticipantesinscritos/"+ods+"/"+anio+"/"+categoria+"/"+modalidad+"/"+nivel;
				}
				else{
					alert("Seleccione reporte");
				}
				
				
				/*var cuento=0, poesia=0, dibujo=0, composicion=0, ahorro=0;
				var individual=0, grupal=0;
				var inicial=0,primaria=0,secundaria=0;
				var cadena_ods="";
				
				if(reporte!="0" && ods!="" && anio!="0" ){
					
					for(var i=0;i<ods.length;i++){
						cadena_ods += ods[i] + ",";
					}
					for(var i=0;i<categoria.length;i++){
						switch(categoria[i]){
							case '1' : cuento=1;  break;
							case '2' : poesia=1;  break;
							case '3' : dibujo=1;  break;
							case '4' : composicion=1;  break;
							case '5' : ahorro=1;  break;
						}
					}
					for(var i=0;i<modalidad.length;i++){
						switch(modalidad[i]){
							case '1' : individual=1;  break;
							case '2' : grupal=1;  break;
						}
					}
					for(var i=0;i<nivel.length;i++){
						switch(nivel[i]){
							case '1' : inicial=1;  break;
							case '2' : primaria=2;  break;
							case '3' : secundaria=3;  break;
						}
					}
				}*/				
				
			});
			
			$("#btnlimpiarreporte").click(function(){
				$("#cbods").val("-1");
				$("#cbanio").val("-1");
				$("#cbcategoria").val("-1");
				$("#cbmodalidad").val("-1");
				$("#cbnivelparticipacion").val("-1");
			});
			
		});

</script>




